	/****************
	*	BUTTONS.CSS	*
	****************/

/* ---------- small icon buttons  --------- */
	
	#bid-login button {
		padding-left: 32px;
		padding-right: 30px;
	}
	
	#bid-ok button {
		background-image: url(../images/icons/bg_ok.gif);
		padding-left: 35px;
		padding-right: 45px;
	}	
	
	#bid-ok-long button {
		background-image: url(../images/icons/bg_ok.gif);
		padding-left: 35px;
		padding-right: 45px;
	}	
	
	#bid-generate button {
		background-image: url(../images/icons/bg_ok.gif);
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#bid-update button {
		background-image: url(../images/icons/bg_ok.gif);
		padding-left: 35px;
		padding-right: 45px;
	}
	
	#bid-cancel button {
		background-image: url(../images/icons/bg_cancel.gif);
		padding-left: 30px;
		padding-right: 24px;
	}
	
	#bid-email_preview button {
		background-image:url(../images/icons/bg_preview.gif);
		padding-left:60px;
		padding-right:45px;
	}  

	#bid-calendar button {
		width: 22px;
		height: 18px;
		background-image: url(../images/icons/bg_calendar.gif);
		cursor: pointer;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#bid-listen button {
		width: 22px;
		height: 18px;
		background-image: url(../images/icons/bg_listen.gif);
		cursor: pointer;
	}
	#bid-default button {
		padding-left: 28px;
		padding-right: 26px;
	}
	#bid-add button {
		padding-left: 28px;
		padding-right: 40px;
	}
	#bid-remove button {
		padding-left: 28px;
		padding-right: 40px;
	}
	#bid-plus button {
		padding-left: 10px;
		padding-right: 10px;
	}
	#bid-minus button {
		padding-left: 10px;
		padding-right: 10px;
	}
	#bid-default span {
		background-image: url(../images/icons/bg_default_stats.gif);
	}	
	
	#bid-up_level span {
		background-image: url(../images/icons/bg_up_level.gif);
	}
	
	#bid-refresh_small span {
		background-image: url(../images/icons/bg_refresh_small.gif);
	}
	
	#bid-refresh span {
		background-image: url(../images/icons/bg_refresh.gif);
	}
	
	#bid-remove_sel span {
		background-image: url(../images/icons/bg_remove_sel.gif);
	}

	#bid-search span {
		background-image: url(../images/icons/bg_search.gif);
		padding-bottom:3px;
	}
	#bid-group span {
		background-image: url(../images/icons/bg_group.gif);
	}
	
	#bid-apply span {
		background-image: url(../images/icons/bg_apply.gif);
	}
	
	#bid-show_all span {
		background-image: url(../images/icons/bg_show_all.gif);
	}
	
	#bid-reconnect_channels span {
		background-image: url(../images/icons/bg_reconnect_channels.gif);
	}
	#bid-renegociate_channels span {
		background-image: url(../images/icons/bg_renegociate_channels.gif);
	}
	#bid-incoming_calls span {
		background-image: url(../images/icons/bg_incoming_calls.gif);
	}
	#bid-outgoing_calls span {
		background-image: url(../images/icons/bg_outgoing_calls.gif);
	}
	#bid-export_excel span {
		background-image: url(../images/icons/bg_export_excel.gif);
	}
	#bid-export_cvs span {
		background-image: url(../images/icons/bg_export_csv.gif);
	}
	#bid-terminate_calls span {
		background-image: url(../images/icons/bg_terminate_calls.gif);
	}
	#bid-generate_ivr span {
		background-image: url(../images/icons/bg_generate_ivr.gif);
	}
	#bid-test_ivr span {
		background-image: url(../images/icons/bg_test_ivr.gif);
	}
	#bid-empty_selected span {
		background-image: url(../images/icons/bg_empty_selected.gif);
	}
	#bid-save-rules span {
		background-image: url(../images/icons/bg_save_rules.gif);
	}
	#bid-import_templates span {
		background-image: url(../images/icons/bg_import_templates.gif);
	}
	#bid-export_templates span {
		background-image: url(../images/icons/bg_export_templates.gif);
	}
	#bid-export_costs span {
		background-image: url(../images/icons/bg_export_costs.gif);
	}
	#bid-export_destinations_costs span {
		background-image: url(../images/icons/bg_export_exceptions.gif);
	}
	#bid-move_numbers span {
		background-image: url(../images/icons/bg_move_numbers.gif);
	}
	#bid-export_collections span {
		background-image: url(../images/icons/bg_export_collections.gif);
	}
	#bid-menu span {
		background-image: url(../images/icons/bg_menu.gif);
	}
	#Export span {
		background-image: url(../images/icons/bg_export.gif);
	}
	#bid-move-clients span {
		background-image: url(../images/icons/bg_move-clients.gif);
	}	
	#bid-choose-columns span {
		background-image: url(../images/icons/bg_columns.gif);
	}
	#bid-assign_account span {
		background-image: url(../images/icons/bg_assign_account.gif);
	}
	#bid-force_refresh span {
		background-image: url(../images/icons/bg_force_refresh.gif);
	}
	#logout_top span {
		background-image: url(../images/icons/logout_server.gif);
	}
	#return_top span {
		background-image: url(../images/icons/return_server.gif);
	}	
	#bid-help span {
		background-image: url(../images/icons/nav_help.gif);
	}
	#bid-show_selected span {
		background-image: url(../images/icons/bg_show_selected.gif);
	}
	#bid-plesk_switch span{
		background-image: url(../images/icons/bg_plesk_button.gif);    
	}
	#bid-switch_to_simple span {
		background-image: url(../images/icons/bg_simple_search.gif);
	}
	#bid-switch_to_advanced span {
		background-image: url(../images/icons/bg_advanced_search.gif);
	}
	#bid-hide_search span {
		background-image: url(../images/icons/bg_toggle_search.gif);
		padding-bottom:3px;
	}
	#bid-soapapi_add_app span {
		background-image: url(../images/icons/bg_soapapi_add_app.gif);
	}
	#bid-openid_add_provider span {
		background-image: url(../images/icons/bg_openid_add_provider.gif);
	}
	#bid-prov-clear span {
		background-image: url(../images/icons/bg_prov_clear.gif);
	}
	#bid-prov-regenerate span {
		background-image: url(../images/icons/bg_prov_regenerate.gif);
	}
	#bid-prov-own span {
		background-image: url(../images/icons/bg_prov_own.gif);
	}
	#bid-prov-export-csv span{
		background-image: url(../images/icons/bg_prov_export_csv.gif);
	}		
	


/* buttons as buttons */
	
.plusBtn button {
	width: 20px;
	height: 18px;
	background-image: url(../images/icons/bg_plus.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.plusBtn_disabled button {
	width: 20px;
	height: 18px;
	background-image: url(../images/icons/bg_plus_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.minusBtn button {
	width: 20px;
	height: 18px;
	background-image: url(../images/icons/bg_minus.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.minusBtn_disabled button {
	width: 20px;
	height: 18px;
	background-image: url(../images/icons/bg_minus_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.calendarBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_calendar.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.calendarBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_calendar_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.soundsBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_sounds.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.soundsBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_sounds_off.gif);
	padding-left:10px;
	padding-right:10px;	
}

.small_extensionsBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_extensions_small.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}


.small_extension_groupsBtn button {
	width: 22px;
	height: 56px;
	background-image: url(../images/icons/bg_extensions_short.gif);
	background-position:top bottom;	
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.small_extension_groupsBtn_disabled button {
	width: 22px;
	height: 56px;
	background-image: url(../images/icons/bg_extensions_short_off.gif);
	background-position:top bottom;	
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}


.small_extensionsBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_extensions_small_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.clientsBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_clients.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.clientsBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_clients_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.resellersBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_resellers.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.resellersBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_resellers_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.extensionsBtn button {
	width: 22px;
	height: 82px;
	background-image: url(../images/icons/bg_extensions.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.extensionsBtn_disabled button {
	width: 22px;
	height: 82px;
	background-image: url(../images/icons/bg_extensions_off.gif);
	padding-left:10px;
	padding-right:10px;
}

.listenBtn button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_listen.gif);
	cursor: pointer;
	padding-left:10px;
	padding-right:10px;
}

.listenBtn_disabled button {
	width: 22px;
	height: 18px;
	background-image: url(../images/icons/bg_listen_off.gif);
	padding-left:10px;
	padding-right:10px;
}
.plusBtnLarge button {
	width: 32px;
	height: 32px;
	background-image: url(../images/icons/bg_plus_big.gif);
	cursor: pointer;
}

.plusBtnLarge_disabled button {
	width: 32px;
	height: 32px;
	background-image: url(../images/icons/bg_plus_big_off.gif);
}

.minusBtnLarge button {
	width: 32px;
	height: 32px;
	margin-right: 3px;
	background-image: url(../images/icons/bg_minus_big.gif);
	cursor: pointer;
}

.minusBtnLarge_disabled button {
	width: 32px;
	height: 32px;
	margin-right: 3px;
	background-image: url(../images/icons/bg_minus_big_off.gif);
}

/* ---------- big icon buttons  --------- */

.actionBtns_disabled #bid-server-preferences {
	background-image: url(../images/icons/server-preferences_off.gif);
}


.actionBtns #bid-prov_devices{
	background-image: url(../images/icons/manage_sip_devices.gif);	
}
.actionBtns_disabled #bid-prov_devices{
	background-image: url(../images/icons/manage_sip_devices_off.gif);	
}
.actionBtns #bid-prov-add-device{
	background-image: url(../images/icons/add_sip_devices.gif);	
}
.actionBtns_disabled #bid-prov-add-device{
	background-image: url(../images/icons/add_sip_devices_off.gif);	
}
.actionBtns #bid-prov_add_tpl{
	background-image: url(../images/icons/prov_add_tpl_container.gif);	
}
.actionBtns_disabled #bid-prov_add_tpl{
	background-image: url(../images/icons/prov_add_tpl_container_off.gif);	
}
.actionBtns #bid-prov_add_tpl_file{
	background-image: url(../images/icons/add_equipment.gif);	
}
.actionBtns_disabled #bid-prov_add_tpl_file{
	background-image: url(../images/icons/add_equipment_off.gif);	
}
.actionBtns #bid-prov_add_chan_tpl{
	background-image: url(../images/icons/add_provider_template.gif);	
}

.actionBtns_disabled #bid-login-preferences {
	background-image: url(../images/icons/login-preferences_off.gif);
}
.actionBtns_disabled #bid-stop {
	background-image: url(../images/icons/stop_large_off.gif);
}
.actionBtns_disabled #bid-restart {
	background-image: url(../images/icons/restart_large_off.gif);
}
.actionBtns_disabled #bid-admin-contact {
	background-image: url(../images/icons/admin-contact_off.gif);
}
.actionBtns_disabled #bid-license {
	background-image: url(../images/icons/license_off.gif);
}
.actionBtns #bid-adv_logs {
	background-image: url(../images/icons/adv_logs.gif);
}
.actionBtns #bid-queue_agents {
	background-image: url(../images/icons/queue_agents.gif);
}
.actionBtns #bid-client-billing {
	background-image: url(../images/icons/client-billing.gif);
}
.actionBtns #bid-reseller-billing {
	background-image: url(../images/icons/reseller-billing.gif);
}
.actionBtns_disabled #bid-client-billing {
	background-image: url(../images/icons/client-billing_off.gif);
	cursor: default;
}
.actionBtns #bid-extension-billing {
	background-image: url(../images/icons/extension-billing.gif);
}
.actionBtns_disabled #bid-add-clients {
	background-image: url(../images/icons/add-clients_off.gif);
	cursor: default;
}
.actionBtns #bid-add-clients {
	background-image: url(../images/icons/add-clients.gif);
}
.actionBtns #bid-add-reseller {
	background-image: url(../images/icons/add-reseller.gif);
}
.actionBtns_disabled #bid-add-reseller {
	background-image: url(../images/icons/add-reseller_off.gif);
	cursor: default;
}
.actionBtns #bid-admin-contact {
	background-image: url(../images/icons/admin-contact.gif);
}
.actionBtns #bid-refresh {
	background-image: url(../images/icons/refresh.gif);
}
.actionBtns #bid-refresh-big {
	background-image: url(../images/icons/refresh-big.gif);
}
.actionBtns #bid-edit-reseller {
	background-image: url(../images/icons/edit-reseller.gif);
}
.actionBtns #bid-email-templates {
	background-image: url(../images/icons/email-templates.gif);
}
.actionBtns #bid-voicemail {
	background-image: url(../images/icons/voicemail.gif);
}
.actionBtns #bid-extension_options	 {
	background-image: url(../images/icons/extension_options.gif);
}
.actionBtns #bid-disable-mailbox	 {
	background-image: url(../images/icons/disable_mailbox.gif);
}
.actionBtns #bid-enable-mailbox	 {
	background-image: url(../images/icons/enable_mailbox.gif);
}
.actionBtns #bid-add-plan {
	background-image: url(../images/icons/add-plan.gif);
}
.actionBtns_disabled #bid-add-plan {
	background-image: url(../images/icons/add-plan_off.gif);
	cursor: default;
}
.actionBtns #bid-reseller-options {
	background-image: url(../images/icons/reseller-options.gif);
}
.actionBtns #bid-billing-plan {
	background-image: url(../images/icons/billing-plan.gif);
}
.actionBtns_disabled #bid-billing-plan {
	background-image: url(../images/icons/billing-plan_off.gif);
	cursor: default;
}
.actionBtns #bid-my-billing {
	background-image: url(../images/icons/my-billing.gif);
}
.actionBtns_disabled #bid-my-billing {
	background-image: url(../images/icons/my-billing_off.gif);
	cursor: default;
}
.actionBtns #bid-add-group {
	background-image: url(../images/icons/add-group.gif);
}
.actionBtns #bid-skins {
	background-image: url(../images/icons/skins.gif);
}
.actionBtns #bid-edit_skin {
	background-image: url(../images/icons/edit_skin.gif);
}
.actionBtns #bid-pbxlanguages {
	background-image: url(../images/icons/pbxlanguages.gif);
}
.actionBtns #bid-add-pbxlanguage {
	background-image: url(../images/icons/add-pbxlanguage.gif);
}

.actionBtns #bid-incoming-rules {
	background-image: url(../images/icons/incoming-rules.gif);
}
.actionBtns #bid-disable_recording {
	background-image: url(../images/icons/disable_recording.gif);
}
.actionBtns #bid-enable_recording {
	background-image: url(../images/icons/enable_recording.gif);
}

.actionBtns #bid-call-costs {
	background-image: url(../images/icons/call-costs.gif);
}
.actionBtns #bid-call-list {
	background-image: url(../images/icons/call-list.gif);
}
.actionBtns #bid-client-templates {
	background-image: url(../images/icons/client-templates.gif);
}
.actionBtns #bid-extension-term {
	background-image: url(../images/icons/extension-term.gif);
}
.actionBtns #bid-extension-voice {
	background-image: url(../images/icons/extension-voice.gif);
}
.actionBtns #bid-extension-queue {
	background-image: url(../images/icons/extension-queue.gif);
}
.actionBtns #bid-queue_member {
	background-image: url(../images/icons/queue_member.gif);
}
.actionBtns #bid-extension-ivr {
	background-image: url(../images/icons/extension-ivr.gif);
}
.actionBtns #bid-extension-queuecenter {
	background-image: url(../images/icons/extension-queuecenter.gif);
}
.actionBtns_disabled #bid-ivr {
	background-image: url(../images/icons/ivr_off.gif);
}
.actionBtns #bid-sounds {
	background-image: url(../images/icons/sounds.gif);
}
.actionBtns_disabled #bid-sounds {
	background-image: url(../images/icons/sounds_off.gif);
	cursor: default;
}
.actionBtns #bid-edit-extension {
	background-image: url(../images/icons/edit-extension.gif);
}
.actionBtns #bid-mailbox {
	background-image: url(../images/icons/mailbox.gif);
}
.actionBtns #bid-recorded_calls {
	background-image: url(../images/icons/recorded_calls.gif);
}
.actionBtns #bid-history {
	background-image: url(../images/icons/history.gif);
}
.actionBtns #bid-update {
	background-image: url(../images/icons/update.gif);
}
.actionBtns_disabled #bid-update {
	background-image: url(../images/icons/update_off.gif);
}
.actionBtns #bid-add-extension {
	background-image: url(../images/icons/add-extension.gif);
}
.actionBtns_disabled #bid-add-extension {
	background-image: url(../images/icons/add-extension_off.gif);
	cursor: default;
}
.actionBtns #bid-edit-client {
	background-image: url(../images/icons/edit-client.gif);
}
.actionBtns #bid-refresh_call {
	background-image: url(../images/icons/refresh_call.gif);
}
.actionBtns #bid-client-options {
	background-image: url(../images/icons/client-options.gif);
}
.actionBtns #bid-queue {
	background-image: url(../images/icons/queue.gif);
}
.actionBtns_disabled #bid-queue {
	background-image: url(../images/icons/queue_off.gif);
	cursor: default;
}
.actionBtns #bid-queue_report {
	background-image: url(../images/icons/queue_report_large.gif);
}
.actionBtns #bid-ivr {
	background-image: url(../images/icons/ivr.gif);
}
.actionBtns #bid-call-flows {
	background-image: url(../images/icons/call-flows.gif);
}
.actionBtns #bid-extension-templates {
	background-image: url(../images/icons/extension-templatest.gif);
}
.actionBtns #bid-time-intervals {
	background-image: url(../images/icons/time-intervals.gif);
}
.actionBtns #bid-empty-mailbox {
	background-image: url(../images/icons/empty-mailbox.gif);
}
.actionBtns #bid-add-ivr {
	background-image: url(../images/icons/add-ivr.gif);
}
.actionBtns_disabled #bid-add-ivr {
	background-image: url(../images/icons/add-ivr_off.gif);
}
.actionBtns #bid-add-queue {
	background-image: url(../images/icons/add-queue.gif);
}
.actionBtns_disabled #bid-add-queue {
	background-image: url(../images/icons/add-queue_off.gif);
	cursor: default;
}
.actionBtns #bid-add_client_tpl {
	background-image: url(../images/icons/add_client_tpl.gif);
}
.actionBtns_disabled #bid-add_client_tpl {
	background-image: url(../images/icons/add_client_tpl_off.gif);
}
.actionBtns #bid-add_extension_tpl {
	background-image: url(../images/icons/add_extension_tpl.gif);
}
.actionBtns_disabled #bid-add_extension_tpl {
	background-image: url(../images/icons/add_extension_tpl_off.gif);
}
.actionBtns #bid-edit-folder {
	background-image: url(../images/icons/edit-folder.gif);
}
.actionBtns #bid-add-folder {
	background-image: url(../images/icons/add-folder.gif);
}
.actionBtns #bid-add-language {
	background-image: url(../images/icons/add-language.gif);
}
.actionBtns #bid-add_reseller_tpl {
	background-image: url(../images/icons/add_reseller_tpl.gif);
}
.actionBtns_disabled #bid-add_reseller_tpl {
	background-image: url(../images/icons/add_reseller_tpl_off.gif);
}
.actionBtns #bid-add-sound {
	background-image: url(../images/icons/add-sound.gif);
}
.actionBtns_disabled #bid-add-sound {
	background-image: url(../images/icons/add-sound_off.gif);
	cursor: default;
}
.actionBtns #bid-folders {
	background-image: url(../images/icons/folders.gif);
}
.actionBtns_disabled #bid-folders {
	background-image: url(../images/icons/folders_off.gif);
}
.actionBtns #bid-languages {
	background-image: url(../images/icons/languages.gif);
}
.actionBtns_disabled #bid-languages {
	background-image: url(../images/icons/languages_off.gif);
}                                                                    
.actionBtns #bid-add-time-intervals {
	background-image: url(../images/icons/add-time-intervals.gif);
}
.actionBtns #bid-reseller-templates {
	background-image: url(../images/icons/reseller-templates.gif);
}
.actionBtns #bid-time-intervals {
	background-image: url(../images/icons/time-intervals.gif);
}
.actionBtns #bid-server-services {
	background-image: url(../images/icons/server-services.gif);
}
.actionBtns #bid-pbx-preferences {
	background-image: url(../images/icons/pbx-preferences.gif);
}
.actionBtns #bid-interface-settings {
	background-image: url(../images/icons/interface-settings.gif);
}
.actionBtns #bid-login-preferences {
	background-image: url(../images/icons/login-preferences.gif);
}
.actionBtns #bid-license {
	background-image: url(../images/icons/license.gif);
}
.actionBtns #bid-update-voipnow {
	background-image: url(../images/icons/update-voipnow.gif);
}
.actionBtns #bid-server-preferences {
	background-image: url(../images/icons/server-preferences.gif);
}
.actionBtns #bid-system-statistics {
	background-image: url(../images/icons/system-statistics.gif);
}
.actionBtns #bid-installed_components {
	background-image: url(../images/icons/installed_components.gif);
}
.actionBtns #bid-stop {
	background-image: url(../images/icons/stop_large.gif);
}
.actionBtns #bid-restart {
	background-image: url(../images/icons/restart_large.gif);
}
.actionBtns #bid-add-channel {
	background-image: url(../images/icons/add-channel.gif);
}
.actionBtns #bid-channel_groups {
	background-image: url(../images/icons/channel_groups.gif);
}
.actionBtns_disabled #bid-channel_groups {
	background-image: url(../images/icons/channel_groups_off.gif);
	cursor: default;
}
.actionBtns #bid-report {
	background-image: url(../images/icons/report.gif);
}
.actionBtns #bid-out_sip {
	background-image: url(../images/icons/out_sip.gif);
}
.actionBtns #bid-in_sip {
	background-image: url(../images/icons/in_sip.gif);
}
.actionBtns #bid-add-in-sip {
	background-image: url(../images/icons/add-in-sip.gif);
}
.actionBtns #bid-add-out-sip {
	background-image: url(../images/icons/add-out-sip.gif);
}
.actionBtns_disabled #bid-add-out-sip {
	background-image: url(../images/icons/add-out-sip_off.gif);
}
.actionBtns #bid-statistics {
	background-image: url(../images/icons/statistics.gif);
}
.actionBtns #bid-call_cost {
	background-image: url(../images/icons/call_cost.gif);
}
.actionBtns #bid-call_list {
	background-image: url(../images/icons/call_list.gif);
}
.actionBtns #bid-edit-channel {
	background-image: url(../images/icons/edit-channel.gif);
}
.actionBtns #bid-add-did {
	background-image: url(../images/icons/add-numbers.gif);
}
.actionBtns_disabled #bid-add-did {
	background-image: url(../images/icons/add-numbers_off.gif);
}
.actionBtns #bid-channel-costs {
	background-image: url(../images/icons/channel-costs.gif);
}
.actionBtns_disabled #bid-channel-costs {
	background-image: url(../images/icons/channel-costs_off.gif);
}
.actionBtns #bid-client-report {
    background-image: url(../images/icons/client-report_large.gif);
}
.actionBtns #bid-add-ivr-context {
    background-image: url(../images/icons/add-ivr-context.gif);
}
.actionBtns #bid-edit-ivr {
    background-image: url(../images/icons/edit-ivr.gif);
}
.actionBtns #bid-ivr-schema {
    background-image: url(../images/icons/ivr-schema.gif);
}
.actionBtns_disabled #bid-ivr-schema {
    background-image: url(../images/icons/ivr-schema_off.gif);
}
.actionBtns #bid-ivr-report {
    background-image: url(../images/icons/ivr-report.gif);
}
.actionBtns_disabled #bid-ivr-report {
    background-image: url(../images/icons/ivr-report_off.gif);
}
.actionBtns_disabled #bid-add-ivr-context {
    background-image: url(../images/icons/add-ivr-context_off.gif);
}
.actionBtns #bid-fax_center {
	background-image: url(../images/icons/fax-center.gif);
}
.actionBtns #bid-extension-voicecenter {
    background-image: url(../images/icons/extension-voicecenter.gif);
}
.actionBtns #bid-extension-conference {
	background-image: url(../images/icons/extension-conference.gif);
}
.actionBtns #bid-disable_fax {
    background-image: url(../images/icons/disable_fax.gif);
}
.actionBtns #bid-enable_fax {
    background-image: url(../images/icons/enable_fax.gif);
}
.actionBtns #bid-custom-buttons {
    background-image: url(../images/icons/custom-buttons.gif);
}
.actionBtns #bid-add-custom-button {
    background-image: url(../images/icons/add-custom-button.gif);
}
.actionBtns_disabled #bid-add-custom-button {
    background-image: url(../images/icons/add-custom-button_off.gif);
}
.actionBtns #bid-manage-custom-button {
    background-image: url(../images/icons/manage-custom-button.gif);
}
.actionBtns #bid-forbidden-numbers {
    background-image: url(../images/icons/forbidden_extensions.gif);
}
.actionBtns #bid-provision-templates {
    background-image: url(../images/icons/provisioning-templates.gif);
}
.actionBtns #bid-provisioning {
    background-image: url(../images/icons/provisioning.gif);
}
.actionBtns #bid-add-zap-channel {
    background-image: url(../images/icons/add-zap-channel.gif);
}
.actionBtns_disabled #bid-add-zap-channel {
    background-image: url(../images/icons/add-zap-channel_off.gif);
}
.actionBtns #bid-switch-allow {
    background-image: url(../images/icons/switch-allow.gif);
}
.actionBtns #bid-switch-deny {
    background-image: url(../images/icons/switch-deny.gif);
}
.actionBtns #bid-add-network {
    background-image: url(../images/icons/add-network.gif);
}
.actionBtns #bid-access {
    background-image: url(../images/icons/access.gif);
}
.actionBtns_disabled #bid-access {
    background-image: url(../images/icons/access_off.gif);
}
.actionBtns #bid-billing-credits{
    background-image: url(../images/icons/billing-credits.gif);
}
.actionBtns #bid-billing-limits{
    background-image: url(../images/icons/billing-limits.gif);
}
.actionBtns #bid-extension-callback{
    background-image: url(../images/icons/extension-callback.gif);
}
.actionBtns #bid-extension-callcard{
    background-image: url(../images/icons/extension-callcard.gif);
}
.actionBtns #bid-auth_callerid{
    background-image: url(../images/icons/auth-callerid.gif);
}
.actionBtns #bid-add_callback_callerid{
    background-image: url(../images/icons/add-callback-callerid.gif);
}
.actionBtns #bid-callcard_codes{
    background-image: url(../images/icons/callcard-codes.gif);
}
.actionBtns #bid-add_callcard_code{
    background-image: url(../images/icons/add-callcard-code.gif);
}
.actionBtns #bid-outgoing-rules{
    background-image: url(../images/icons/outgoing-rules.gif);
}
.actionBtns #bid-public_phone_numbers{
    background-image: url(../images/icons/public_phone_numbers.gif);
}
.actionBtns #bid-manage_greetings{
    background-image: url(../images/icons/greetings.gif);
}
.actionBtns_disabled #bid-callcard_codes{
    background-image: url(../images/icons/callcard-codes_off.gif);
}
.actionBtns_disabled #bid-add_callback_callerid{
    background-image: url(../images/icons/add-callback-callerid_off.gif);
}
.actionBtns #bid-keys{
    background-image: url(../images/icons/keys.gif);
}
.actionBtns #bid-add-key{
    background-image: url(../images/icons/add-key.gif);
}
.actionBtns #bid-login-history{
    background-image: url(../images/icons/login-history.gif);
}
.actionBtns #bid-failed-logins{
    background-image: url(../images/icons/failed-logins.gif);
}
.actionBtns #bid-manage_packages{
    background-image: url(../images/icons/manage-packages.gif);
}
.actionBtns #bid-add-iax-channel {
    background-image: url(../images/icons/add-iax-channel.gif);
}
.actionBtns_disabled #bid-add-iax-channel {
    background-image: url(../images/icons/add-iax-channel_off.gif);
}
.actionBtns_disabled #bid-add_callcard_code{
    background-image: url(../images/icons/add-callcard-code_off.gif);
}
.actionBtns #bid-call_screening {
    background-image: url(../images/icons/screening.gif);
}
.actionBtns #bid-edit-screen {
    background-image: url(../images/icons/edit-screen.gif);
}
.actionBtns_disabled #bid-edit-screen {
    background-image: url(../images/icons/edit-screen_off.gif);
}
.actionBtns #bid-screen-categ {
    background-image: url(../images/icons/screen-categ.gif);
}
.actionBtns_disabled #bid-screen-categ {
    background-image: url(../images/icons/screen-categ_off.gif);
}
.actionBtns #bid-extension-groups {
    background-image: url(../images/icons/extension-groups.gif);
}
.actionBtns #bid-add-extension-group { 
   background-image: url(../images/icons/add-extension-group.gif);
}
.actionBtns_disabled #bid-add-extension-group { 
   background-image: url(../images/icons/add-extension-group_off.gif);
}
.actionBtns #bid-extension-intercom { 
   background-image: url(../images/icons/extension-intercom.gif);
}
.actionBtns #bid-collections{ 
   background-image: url(../images/icons/collections.gif);
}
.actionBtns #bid-edit-collection-no{ 
   background-image: url(../images/icons/edit-collections-no.gif);
}
.actionBtns #bid-collection-categ{ 
   background-image: url(../images/icons/collection-categ.gif);
}
.actionBtns_disabled #bid-collections{ 
   background-image: url(../images/icons/collections_off.gif);
}
.actionBtns_disabled #bid-edit-collection-no{ 
   background-image: url(../images/icons/edit-collections-no_off.gif);
}
.actionBtns_disabled #bid-collection-categ{ 
   background-image: url(../images/icons/collection-categ_off.gif);
}
.actionBtns #bid-connect-ga{ 
   background-image: url(../images/icons/connect-ga.gif);
}
.actionBtns #bid-disconnect-ga{ 
   background-image: url(../images/icons/disconnect-ga.gif);
}
.actionBtns #bid-sso-settings{ 
   background-image: url(../images/icons/sso-settings.gif);
}
.actionBtns #bid-backup{ 
   background-image: url(../images/icons/backup.gif);
}
.actionBtns_disabled #bid-backup{ 
   background-image: url(../images/icons/backup_off.gif);
}
.actionBtns #bid-backup-history{ 
   background-image: url(../images/icons/backup-history.gif);
}
.actionBtns #bid-impersonate {
    background-image: url(../images/icons/impersonate_large.gif);
}
.actionBtns_disabled #bid-impersonate {
    background-image: url(../images/icons/impersonate_large_off.gif);
}
.actionBtns #bid-call-api{
    background-image: url(../images/icons/call-api.gif);
}
.actionBtns #bid-change-pass-ga{ 
   background-image: url(../images/icons/change-pass-ga.gif);
}
.actionBtns_disabled #bid-change-pass-ga{ 
   background-image: url(../images/icons/change-pass-ga_off.gif);
}
.actionBtns_disabled #bid-connect-ga{ 
   background-image: url(../images/icons/connect-ga_off.gif);
}
.actionBtns_disabled #bid-disconnect-ga{ 
   background-image: url(../images/icons/disconnect-ga_off.gif);
}
.actionBtns #bid-callmenow{ 
   background-image: url(../images/icons/callmenow.gif);
}
.actionBtns #bid-sent_faxes{ 
   background-image: url(../images/icons/sent_faxes.gif);
}
.actionBtns #bid-add-server{ 
   background-image: url(../images/icons/add-server.gif);
}
.actionBtns_disabled #bid-add-server{ 
   background-image: url(../images/icons/add-server_off.gif);
}
.actionBtns #bid-controller-settings{ 
   background-image: url(../images/icons/controller-settings.gif);
}
.actionBtns_disabled #bid-controller-settings{ 
   background-image: url(../images/icons/controller-settings_off.gif);
}
.actionBtns #bid-global_account{ 
   background-image: url(../images/icons/global_account.gif);
}
.actionBtns_disabled #bid-global_account{ 
   background-image: url(../images/icons/global_account_off.gif);
}
.actionBtns #bid-sessions{ 
   background-image: url(../images/icons/sessions.gif);
}
.actionBtns #bid-new_schedule_conf{ 
   background-image: url(../images/icons/new_schedule_conf.gif);
}
.actionBtns #bid-schedule_conf{ 
   background-image: url(../images/icons/schedule_conf.gif);
}
.actionBtns #bid-add-enum-channel{ 
   background-image: url(../images/icons/add-enum-channel.gif);
}
.actionBtns #bid-plugins{ 
   background-image: url(../images/icons/plugin.gif);
}
.actionBtns #bid-add-plugin{ 
   background-image: url(../images/icons/add-plugin.gif);
}
.actionBtns_disabled #bid-add-plugin{ 
   background-image: url(../images/icons/add-plugin_off.gif);
}
.actionBtns #bid-gen_callcard_code{ 
   background-image: url(../images/icons/generate-callcard-code.gif);
}
.actionBtns_disabled #bid-gen_callcard_code{ 
   background-image: url(../images/icons/generate-callcard-code_off.gif);
}
.actionBtns #bid-restore_dismissed{ 
   background-image: url(../images/icons/restore_dismissed.gif);
}
.actionBtns #bid-user_profile{ 
   background-image: url(../images/icons/my_interface.gif);
}
.actionBtns #bid-provision-prefs{ 
   background-image: url(../images/icons/provision-prefs.gif);
}
.actionBtns #bid-advertising-templates{ 
   background-image: url(../images/icons/advertising-templates.gif);
}
.actionBtns #bid-add_advert_tpl{ 
   background-image: url(../images/icons/add_advert_tpl.gif);
}
.actionBtns #bid-add_industry{ 
   background-image: url(../images/icons/add_industry.gif);
}
.actionBtns #bid-add_local_agent{ 
   background-image: url(../images/icons/add-local_agent.gif);
}
.actionBtns_disabled #bid-add_local_agent {
	background-image: url(../images/icons/add-local_agent_off.gif);
}

.actionBtns #bid-add_remote_agent{ 
   background-image: url(../images/icons/add-remote_agent.gif);
}
.actionBtns_disabled #bid-add_local_agent{ 
   background-image: url(../images/icons/add-local_agent_off.gif);
}
.actionBtns_disabled #bid-add_remote_agent{ 
   background-image: url(../images/icons/add-remote_agent_off.gif);
}
.actionBtns #bid-add_remote_agent{ 
   background-image: url(../images/icons/add-remote_agent.gif);
}
.actionBtns #bid-extension_sharing{ 
   background-image: url(../images/icons/extension_sharing.gif);
}
.actionBtns #bid-api_prefs{ 
   background-image: url(../images/icons/api_pref.gif);
}
.actionBtns #bid-openid-add-identity{ 
   background-image: url(../images/icons/openid-add-identity.gif);
}
.actionBtns #bid-openid-add-identity{ 
   background-image: url(../images/icons/openid-add-identity.gif);
}
.actionBtns #bid-openid-identity{ 
   background-image: url(../images/icons/openid-identities.gif);
}




/*  ----- icons for billing section ---- */

#bid-add_note span {
	background-image: url(../images/icons/billing/bg_add_note.gif);
}	

.actionBtns #bid-add-customer{ 
   background-image: url(../images/icons/billing/add-customer.gif);
}
.actionBtns_disabled #bid-add-customer{ 
   background-image: url(../images/icons/billing/add-customer_off.gif);
}
.actionBtns #bid-add-product{ 
   background-image: url(../images/icons/billing/add-product.gif);
}
.actionBtns_disabled #bid-add-product{ 
   background-image: url(../images/icons/billing/add-product_off.gif);
}
.actionBtns #bid-product-categories{ 
   background-image: url(../images/icons/billing/product-categories.gif);
}
.actionBtns #bid-add-product-category{ 
   background-image: url(../images/icons/billing/add-product-category.gif);
}
.actionBtns #bid-add_deploy_server{ 
   background-image: url(../images/icons/billing/add-deploy-server.gif);
}
.actionBtns_disabled #bid-add_deploy_server{ 
   background-image: url(../images/icons/billing/add-order_off.gif);
}
.actionBtns #bid-add_order{ 
   background-image: url(../images/icons/billing/add-order.gif);
}
.actionBtns_disabled #bid-add_order{ 
   background-image: url(../images/icons/billing/add-order_off.gif);
}
.actionBtns #bid-taxes_prefs{ 
   background-image: url(../images/icons/billing/taxes-prefs.gif);
}
.actionBtns #bid-currencies_prefs{ 
   background-image: url(../images/icons/billing/currencies-prefs.gif);
}
.actionBtns #bid-plugin_prefs{ 
   background-image: url(../images/icons/billing/plugin-prefs.gif);
}
.actionBtns_disabled #bid-plugin_prefs{ 
   background-image: url(../images/icons/billing/plugin-prefs_off.gif);
}
.actionBtns #bid-behaviour_prefs{ 
   background-image: url(../images/icons/billing/behaviour-prefs.gif);
}
.actionBtns_disabled #bid-behaviour_prefs{ 
   background-image: url(../images/icons/billing/behaviour-prefs_off.gif);
}
.actionBtns #bid-email_tpl_prefs{ 
   background-image: url(../images/icons/billing/email-tpl-prefs.gif);
}
.actionBtns #bid-add_currency{ 
   background-image: url(../images/icons/billing/add_currency.gif);
}
.actionBtns_disabled #bid-add_currency{ 
   background-image: url(../images/icons/billing/add_currency_off.gif);
}
.actionBtns #bid-manage_exchange{ 
   background-image: url(../images/icons/billing/manage-exchange.gif);
}.actionBtns_disabled #bid-manage_exchange{ 
   background-image: url(../images/icons/billing/manage-exchange_off.gif);
}
.actionBtns #bid-auto_update{ 
   background-image: url(../images/icons/billing/auto-update.gif);
}
.actionBtns_disabled #bid-auto_update{ 
   background-image: url(../images/icons/billing/auto-update_off.gif);
}
.actionBtns #bid-billing_add_payment_plugin{ 
   background-image: url(../images/icons/billing/add-payment_plugin.gif);
}
.actionBtns_disabled #bid-billing_add_payment_plugin{ 
   background-image: url(../images/icons/billing/add-payment_plugin_off.gif);
}
.actionBtns #bid-add_tax{ 
   background-image: url(../images/icons/billing/add-tax.gif);
}
.actionBtns #bid-add_email_template{ 
   background-image: url(../images/icons/billing/add-email-tpl-prefs.gif);
}
.actionBtns_disabled #bid-invoices{ 
   background-image: url(../images/icons/billing/invoices_off.gif);
}
.actionBtns #bid-deployment_server{ 
   background-image: url(../images/icons/billing/deployment_server.gif);
}
.actionBtns_disabled #bid-deployment_server{ 
   background-image: url(../images/icons/billing/deployment_server_off.gif);
}
.actionBtns #bid-system_tpl_prefs{ 
   background-image: url(../images/icons/billing/system_tpl_prefs.gif);
}
.actionBtns #bid-add_billing_template{ 
   background-image: url(../images/icons/billing/add_billing_template.gif);
}
.actionBtns #bid-add_invoice{ 
   background-image: url(../images/icons/billing/add_invoice.gif);
}
.actionBtns_disabled #bid-add_invoice{ 
   background-image: url(../images/icons/billing/add_invoice_off.gif);
}
.actionBtns #bid-product_plugins{ 
   background-image: url(../images/icons/billing/product_plugins.gif);
}
.actionBtns #bid-product_bricks{ 
   background-image: url(../images/icons/billing/product_bricks.gif);
}
.actionBtns #bid-provider-tpl{ 
   background-image: url(../images/icons/provider-tpl.gif);
}
.actionBtns #bid-prov_import_tpl_file{ 
   background-image: url(../images/icons/prov_import_tpl_file.gif);
}






#bid-edit_billing_info span {
	background-image: url(../images/icons/billing/edit-billing-info.gif);
}	

#b-insert span {
	background-image: url(../images/icons/billing/bg_insert_token.gif);
}	

#bid-save span {
	background-image: url(../images/icons/billing/bg_save.gif);
}	

#bid-query_database span {
	background-image: url(../images/icons/billing/bg_query_database.gif);
}	

#bid-reset_plugin span {
	background-image: url(../images/icons/billing/bg_reset_plugins.gif);
}

#bid-customer-info button {
	background-image: url(../images/icons/billing/bg_modify.gif);
	padding-left: 35px;
	padding-right: 45px;
}

#bid-billing-info button {
	background-image: url(../images/icons/bg_modify.gif);
	padding-left: 35px;
	padding-right: 45px;
}


.email_notify {
	padding: 1px 0px 4px 20px; margin-left: 3px;
	background: url(../images/icons/billing/bg_manage_custom_email.gif) no-repeat center left;
	cursor: hand;
}

.email_notify_disabled {
	padding: 1px 0px 4px 20px; margin-left: 3px;
	background: url(../images/icons/billing/bg_manage_custom_email_off.gif) no-repeat center left;
	cursor: hand;
}

#bid-impersonate_up span { 
	background-image: url(../images/icons/impersonate.gif); 
}

.go_system_setttings_icon{
	width:20px;
	height:18px;
	background: url(../images/icons/go_system_settings.gif) no-repeat center left;
	cursor: pointer;
	float:right
}