


.text_box{
    position:relative;
    width:100%;
    float:left;
}
.text_box textarea{
    float:left;
    height:50px;
    width:100%;
    /*padding-bottom:25px;*/
} 
.text_box input{
    float:left;
    width:120px;
    height:25px;
    position:absolute;
    bottom:44;
    right:5;
} 

.button {
    top: 0px;
    left: 100px;
    display: inline-block;
    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow: 0px 1px rgba(128,128,128,1), /* gradient effects */ 
        0px 2px rgba(118,118,118,1), 
        0px 2px rgba(108,108,108,1), 
        0px 3px rgba(98,98,98,1), 
        0px 3px rgb(202, 191, 191), 
        0px 4px rgb(243, 237, 237), 
        0px 2px 3px -1px rgb(228, 221, 221);/* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.button span {
    background-color: #E8E8E8;

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 8px 20px 5px 20px;

    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 200;
    font-size: 12px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
     -webkit-transform: translate(0, 0px); /*depth of button press */
}

.button span:hover {
    color: #AEBF3B;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.button:active span{
    -webkit-transform: translate(0, 2px);  /*depth of button press */
}
