/* Button rê chuột vào*/
.banner-show {
    display: inline-block;
    padding: 3px 15px;
    -webkit-border-radius: 18px;
          -moz-border-radius:    18px;
          border-radius:         18px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #f0f0f0;      
    color: black !important;
    box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    text-decoration: none;
    margin: 0;
    position: relative;
}
.footer-button-banner {
    position: fixed !important;
    top: auto !important;
    bottom: 0px;
    left: 10px;
    height:25px;
    z-index: 1000;

    display: inline-block;
    padding: 3px 15px;
    -webkit-border-radius: 18px;
          -moz-border-radius:    18px;
          border-radius:         18px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #9ac9ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
    background-image: -webkit-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:    -moz-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:     -ms-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:      -o-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    color: black !important;
    box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    border: 1px solid #9ac9ff !important;
    text-decoration: none;
    margin: 0;
    position: relative;
}
.foot_popup {
    position: relative;
    display: inline-block;
}
.foot_popup-content {
    display: none;
}
.foot_popup:hover   .foot_popup-content {
    position: fixed !important;
    bottom:37px;left: 10px;       
    display: block;
    z-index: 1000;
    min-width: 500px; height:150px;
}

.config_popup-content {
    display: none;
}
.config_popup:hover   .config_popup-content {
    position: fixed !important;
    top:30px;right: 0px;       
    display: block;
    z-index: 1000;
    min-width: 110px; height:40px;
}
.config-show {
     -webkit-border-radius: 8px;
          -moz-border-radius:    8px;
          border-radius:         8px;
    font: 10px "Lucida Grande", Sans-Serif;
    background-color: #f0f0f0;      
    color: black !important;
    box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    text-decoration: none;
    margin: 0;
    position: relative;
}
/*//---------- For right aside action-----------*/
/*Button right*/
.footer-button-right-banner {
    position: fixed !important;
    bottom: 14px;
    right: 40px;
    height:30px;

    vertical-align: center;
    display: inline-block;
    padding: 8px 15px 0 15px;
    -webkit-border-radius: 12px;
          -moz-border-radius:    12px;
          border-radius:         12px !important;;
          font: 28px "Lucida Grande", Sans-Serif;
          color:red;
    /*border: 1px solid #9ac9ff !important;*/          
    /*background-color: #cfcfcf;*/
    position: relative;
    z-index: 1001;    
    cursor:pointer;
}
.footer-button-next-banner {
    position: fixed !important;
    /*top: auto !important;  // cái này dùng để cuối hàng của page có data*/
    bottom: 30px;
    left: 290px;
    height:30px;
    z-index: 1000;

    display: inline-block;
    padding: 3px 15px;
    -webkit-border-radius: 12px;
          -moz-border-radius:    12px;
          border-radius:         12px !important;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #9ac9ff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
        background-image: -webkit-linear-gradient(top, #b6d3f4, #5483b8) !important; 
        background-image:    -moz-linear-gradient(top, #b6d3f4, #5483b8) !important; 
        background-image:     -ms-linear-gradient(top, #b6d3f4, #5483b8) !important; 
        background-image:      -o-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    color: black !important;
    box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    border: 1px solid #9ac9ff !important;
    text-decoration: none;
    margin: 0;
    position: relative;
}

/*/// left sider bar*/
.left_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    
      -webkit-border-radius: 1px;
          -moz-border-radius:    1px;
          border-radius:         1px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #f6f6f4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
    background-image: -webkit-linear-gradient(top, #f6f6f4, #f6f6f4) !important; 
    background-image:    -moz-linear-gradient(top, #f6f6f4, #f6f6f4) !important; 
    background-image:     -ms-linear-gradient(top, #f6f6f4, #f6f6f4) !important; 
    background-image:      -o-linear-gradient(top, #f6f6f4, #f6f6f4) !important; 
    color: black !important;
     box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.left_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.left_nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.leftnav_closebtn {
    cursor: hand;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .left_nav {padding-top: 15px;}
  .left_nav a {font-size: 18px;}
}

/* Right side css */ 
.right_nav {
    padding-top: 100px !important;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10001;
    top: 0;
    right: 0;
    
     -webkit-border-radius: 1px;
          -moz-border-radius:    1px;
          border-radius:         1px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
    background-image: -webkit-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:    -moz-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:     -ms-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:      -o-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    color: black !important;
     box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.rightnav_closebtn {
    margin-top: 50px;
    margin-left: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px !important;
    color:#555;
    text-decoration: none;
}
@media screen and (max-height: 450px) {
  .right_nav a {font-size: 18px;}
}

/* ---------- FOR POPBOX---- */
.collapse { position:relative; }
.open {
    background:#DDD;
    border:solid 1px #FFF;
    border-radius:5px;
    box-shadow: 0px 0px 5px #CCC;
    background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e8e8e8));
    background:-moz-linear-gradient(top,#f4f4f4,#e8e8e8);
    background:linear-gradient(top,#f4f4f4,#e8e8e8);
    padding:8px;
}
.box {
  display:block;
  display:none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:5px;
  box-shadow:0px 0px 15px #999;
  position:absolute;
}
.box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}
form { margin: 25px; text-align:left }
form input[type=text] {padding:5px; width:90%; border:solid 1px #CCC;}
form textarea { padding:5px; width:90%; border:solid 1px #CCC; height:100px;}
.box { width:350px; }
 