/* Right side css */ 
@media screen and (max-height: 450px) {
  .left_nav {padding-top: 28px;}
  .left_nav a {font-size: 18px;}
}

.right_pop {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10001;
    top: 0;
    right: 0;
    
     -webkit-border-radius: 1px;
          -moz-border-radius:    1px;
          border-radius:         1px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
    background-image: -webkit-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:    -moz-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:     -ms-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:      -o-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    color: black !important;
     box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.rightpop_closebtn {
    cursor: hand;
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 36px !important;
    margin-left: 0px;
}

/*/// new*/
@media screen and (max-height: 450px) {
  .right_pop {padding-top: 5px;}
  .right_pop a {font-size: 18px;}
}

.left_pop {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    -webkit-border-radius: 1px;
          -moz-border-radius:    1px;
          border-radius:         1px;
          font: 12px "Lucida Grande", Sans-Serif;
    background-color: #0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d3f4), to(#5483b8)) !important; 
    background-image: -webkit-linear-gradient(top, #b6d5ff, #b6d5ff) !important; 
    background-image:    -moz-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:     -ms-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    background-image:      -o-linear-gradient(top, #b6d3f4, #5483b8) !important; 
    color: black !important;
    box-shadow: inset 0 1px 1px white,
                      0 3px 3px rgba(0,0,0,0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    margin-top:0px;
}
.leftpop_closebtn {
    cursor: hand;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 26px !important;
    margin-left: 870px;
}


 