/*
*****************
*	GENERAL.CSS	*
*****************
*/

td, th, select{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.toggle_bar {
	position:absolute;
	float:left;
	TOP: 50%;
}

img {
	border: none;
}

select, input, textarea {
	padding: 2px;
}

/* ---------- form  --------- */

#login_form .formButtons {
	border-top: 0px;
}

.login_table .submitButtons {
	padding-top: 10px;
	padding-bottom: 8px;
}

.footnote {
	padding-top: 2px;
	padding-left: 12px;
	text-align: left;
	color: #666666;
}

.fieldset {
	padding-top: 0px;
	padding-bottom: 6px;
}

fieldset {
	border:none;
	border-top:1px solid #cccccc;
	margin: 0px 0;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
}

fieldset > legend {
	margin-left: 0px;
	padding-left: 0px;
	padding-right:9px;
	padding-top: 3px;
}

legend img {
	vertical-align: middle;
}

fieldset p {
	margin: 5px 0;
}

legend {
	color: #000000;
	font-weight: bold;
	margin-bottom: 3px; 
	padding-right: 5px;
	padding-bottom: 3px;
	vertical-align: middle;
}

.formArea fieldset{
	border: none;
	border-top: 1px solid #DADAD0;
	border-bottom: 1px solid #DADAD0;
}

.padded_container {
	padding-top:10px;
	padding-bottom:10px;
}
.required {
	color: #cc0000;
}

.input_required{
	background: #fdeae9;
}

.name_required{
	background: #fdeae9;
}

.formTable td.unlimited {
	border-left: none;
}

.formTable td.limit {
	border-right: none;
}

.hint {
	color: #555555;
}

.formButtons {
	text-align: right;
	margin-top: 5px;
}

.modifyButtons .formButtons {
	text-align: left;
}               
.chkProceed{
	text-align: right;
	padding-bottom: 8px;
	margin-left: 3px;	
}

.move_button {
	padding: 5px; 
	text-align: center;
}

.move_button .formButtons{
	border-top: 0px;
}

.click_img{
	cursor: pointer;
}



.moveback_button {
	float: left;
	padding: 5px; 
	text-align: center;
}

.select_buttons {
	vertical-align: middle;
	margin-top: 30px;
}

.submitButtons {
	padding-top: 15px;
	padding-bottom: 20px;
}
.url{
	width: 220px;
}
.text_long {
	width: 170px;
}
.text_very_long {
	width: 220px;
}

.text_med {
	width: 100px;
}

.text_xmed {
	width: 70px;
}

.text_xmed_disabled {
	width: 70px;
	background-color: #C2BFA5;
}

.text_med_float {
	width: 40px;
	float:left;
}

.text_med_float_disabled {
	width: 40px;
	float:left;
	background-color: #C2BFA5;
}

.label_float {
	float:left;
	padding: 0px 2px 0px 2px;
}

.text_short {
	width: 40px;
}

.url_disabled {
	width: 220px;
	background-color: #C2BFA5;
}
.text_long_disabled {
	width: 170px;
	background-color: #C2BFA5;
}
.text_very_long_disabled {
	width: 220px;
	background-color: #C2BFA5;
}

.text_med_disabled {
	width: 100px;
	background-color: #C2BFA5;
}

.text_short_disabled {
	width: 40px;
	background-color: #C2BFA5;
}

.text_route_high {
	width: 30px;
	height: 1.1em; 
	border-color: #C2DAEF;
	background: #FFE1DF;
}


.extension_medium {
	width: 70px;
}
.extension_medium_disabled {
	width: 70px;
	background-color: #C2BFA5;
}
.text_time {
	width: 20px;
}
.text_time_disabled {
	width: 20px;
	background-color: #C2BFA5; 	
}

.text_paddl {
	padding-left: 2px;
}

.text_paddr{
	padding-right: 2px;
}
.checkbox_group{
	padding-right:10px;
	padding-bottom:10px;
}


.chann_checkbox_group{
	padding-right:10px;
	padding-bottom:0px;
	float:left;
	min-width:65px;
}

td label{
	padding-right:10px;
}

.form_container{
	width: 500px;

}

/* ---------- misc elements --------- */

code {
	font-family: Courier, mono;
	font-size: 11px;
	color: #444444;
}

.code {
	font-family: Courier, mono;
	font-size: 11px;
}

hr {
	color: #cccccc;
	background-color: #cccccc;
	height: 1px;
	clear: both;
	margin: 5px 0;
}

.infoData{
	vertical-align: middle;
	padding-bottom: 14px;
}

/* ---------- common buttons --------- */

.someBtn button,
.someBtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: transparent;
/*  	position:relative;  */
	
	cursor:pointer;

}
.someBtn_disabled button,
.someBtn_disabled {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: transparent;
	
}


/* ---------- big icon buttons  --------- */

.actionBtnswrap {
	height: 72px;
	float: none;
	
}

.actionBtnswrap + .actionBtnswrap {
	padding-bottom: 0px; 
}

.actionBtns_disabled,
.actionBtns {
	height: 60px;
	padding-top: 8px; 
	float:left;
}

.actionBtns_disabled span.largeBtn_disabled,
.actionBtns span.largeBtn {
	cursor: default;
	color: #999999;
	text-decoration: none;
}

.actionBtns_disabled button,
.actionBtns button {
	display: none;
}

/* ---------- small icon buttons  --------- */

.btnTable .someBtn,
.goUp .someBtn,
.menuUp .someBtn ,
.controlBtns .someBtn, 
.controlBtns .someBtn_disabled,
.searchBtns .someBtn, 
.searchBtns .someBtn_disabled {
	background: none;

}

.btnTable .someBtn button,
.goUp .someBtn button,
.controlBtns .someBtn button, .controlBtns .someBtn_disabled button,
.searchBtns .someBtn button,.searchBtns .someBtn_disabled button,
.menuUp .someBtn button {
	display: none;
}


.controlBtns .someBtn span,
.searchBtns .someBtn span {
	background-position: 0 1px;
	background-repeat: no-repeat;	
	background-color: transparent;
	padding-left: 20px;
	text-decoration: underline;
	cursor: pointer;
	padding-top: 1px;	
	padding-bottom: 4px;	
}

.controlBtns .someBtn_disabled span,
.searchBtns .someBtn_disabled span {
	background-position: 0 1px;
	background-repeat: no-repeat;	
	background-color: transparent;
	padding-left: 20px;
	text-decoration: underline;
	cursor: pointer;
	padding-top: 1px;	
	padding-bottom: 4px;	
}

.btnTable .someBtn span{
	background-repeat: no-repeat;
	background-color: transparent;
	padding-left: 20px;
	text-decoration: underline;
	cursor: pointer;
	padding-bottom:5px;
}

.goUp .someBtn span{
	background-repeat: no-repeat;
	background-color: transparent;
	padding-left: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.menuUp .someBtn span{
	background-position: top left;
	background-repeat: no-repeat;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;
	float:left;
	padding-bottom:4px;	
}

/* buttons as buttons */
.formButtons .someBtn span,
.formButtons .someBtn_disabled span{
	display: none;
}

.formButtons button {
	width: 91px;
	height: 21px;
	text-align: center;
}



.plusBtnLarge button, .plusBtnLarge_disabled button, .minusBtnLarge button, .minusBtnLarge_disabled button{
	float:left;
}

.minusBtn button,
.minusBtn,
.minusBtn_disabled,
.plusBtn,
.plusBtn_disabled,
.minusBtn_disabled button,
.plusBtn button,
.plusBtn_disabled button,

.minusBtnLarge button,
.minusBtnLarge,
.minusBtnLarge_disabled,
.plusBtnLarge,
.plusBtnLarge_disabled,
.minusBtnLarge_disabled button,
.plusBtnLarge button,
.plusBtnLarge_disabled button,
.calendarBtn,
.calendarBtn button,
.calendarBtn_disabled,
.calendarBtn_disabled button,
.soundsBtn,
.soundsBtn button,
.soundsBtn_disabled,
.soundsBtn_disabled button,
.extensionsBtn,
.extensionsBtn button,
.extensionsBtn_disabled,
.extensionsBtn_disabled button,
.small_extensionsBtn,
.small_extensionsBtn button,
.small_extensionsBtn_disabled,
.small_extensionsBtn_disabled button,
.small_extension_groupsBtn,
.small_extension_groupsBtn button,
.small_extension_groupsBtn_disabled,
.small_extension_groupsBtn_disabled button,
.clientsBtn,
.clientsBtn button,
.clientsBtn_disabled,
.clientsBtn_disabled button,
.resellersBtn,
.resellersBtn button,
.resellersBtn_disabled,
.resellersBtn_disabled button,
.listenBtn,
.listenBtn button,
.listenBtn_disabled,
.listenBtn_disabled button {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: transparent;
	display: inline;
	border: 0;
	background-repeat: no-repeat;
} 

.calendarBtn { width: 16px; }
.calendarBtn button { width: 16px; }
.calendarBtn span { display: none; }


/*
*****************
*	LAYOUT.CSS	*
*****************
*/
body, form {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

body {
	padding-bottom: 20px;
}

html, body { 
	padding: 0; 
	margin:0;
	width: 100%; 
} 

#content { 
	vertical-align:top;
} 

td {
	vertical-align: middle;
}

th {
	vertical-align: middle;
	white-space: nowrap;
}

.pageBody {
	margin: 0 10px;
	padding-top:10px;
}

.tabs {
	height: 5px;
}

.goUp {
	padding-top:4px;
	vertical-align:bottom;
}

.menuResurect {
	padding-bottom:4px;	
	padding-right:4px;
	text-align:left;
	
}

.titleBox {
	padding-bottom:0px;
/*	height:18px; */
	vertical-align:top;
}
.pageTitle {
	margin: 0;
	vertical-align: middle;
}

.pageTitle img,
.pageTitle input,
.pageTitle select {
	vertical-align: middle;
}

p {
	margin: 5px 0;
}

.errorMessage {
	margin: 10px 0;
}

.errorMessage img {
	float: left;
	margin-right: 5px;
}

/* ---------- list  --------- */
.list_data {
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
	border-collapse: collapse;
}

.list_data tr {
	border-collapse: collapse;
	padding: 0px;
}

.list_data td, .list_data th {
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	white-space: normal;
	border-collapse: collapse;
}

.list_data #graphbar td {
	margin: 0px;
	padding: 0px;
}

td input,
td select {
	vertical-align: middle;
}

th input,
th select {
	vertical-align: top;
}

.display_bar{
	margin-top: 9px;
	margin-bottom: 8px;
}

.listTable td,
.listTable th {
	padding: 3px;
}

.listTable td img .icon {
	cursor: pointer;
}

.number {
	text-align: right;
}

.text_100 {
    width: 100%
}


#changes {
	float : left; 
	padding-right: 3px;
}

.icon {
	text-align: center;
	white-space: nowrap;
}
.enabled_arrow {
	cursor: pointer;
}
.search input,
.search .someBtn {
	margin-right: 7px;
	vertical-align: middle;
}
.someBtn	{
	vertical-align: middle;

}

.listTable {
	border-collapse: collapse;
	margin-top:7px;
}

.btnTable {
	margin: 0;
	
}

.btnTable div {
	/* white-space: nowrap;*/
}

.btnTable input,
.btnTable .someBtn {
	vertical-align: middle;
}

.misc_right {
	text-align: right;
	padding-right:10px;
	padding-bottom:10px;
	white-space:nowrap;
}

.misc_left{
	text-align: left;
	padding-left:5px;
}

.misc_advanced_right {
	text-align: right;
	padding-right:10px;
	padding-bottom:3px;
	vertical-align: bottom;
}

.misc_advanced_left{
	text-align: left;
	padding-left:5px;
}


.main input {
	margin-right: 7px;
}
.main .someBtn {
	margin-right: 14px;
}

misc input {
	margin-left: 7px;
}

.misc_right .someBtn, .misc_left .someBtn {
	margin-left: 8px;
} 

.misc_advanced_right .someBtn, .misc_advanced_left .someBtn {
	margin-left: 8px;
} 

th img {
	vertical-align: middle;
}

.select {
	text-align: center;
}

.multiple_select {
	float: left;
}

/* ---------- form  --------- */

.name,
.nameError {
	font-weight: normal;
	color: #444444;
}

.clientForm{
	width: 500px;
}

.formTable {
	border-collapse: collapse;
	margin-top: 2px;
	width: 100%;
}

.formTable td {
	vertical-align: top;
	padding: 2px;
}

.formTable input,
.formTable select {
	vertical-align: middle;
}

.formTable td.name,
.formTable td.required_name,
.formTable td.nameError {
	vertical-align: top;
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 230px;
	text-align:left;
}

td.unlimited {
	vertical-align: middle;	
}

.largeBtn {
	padding: 8px 0 0 0;
	width: 500px; 
}

option.dummyLine {
	color: #ffffff;
}

#searchInput {
	margin-left: -1px;
}


.option {
	margin-bottom: 5px;
}

.formButtons input,
.formButtons button {
	margin-left: 7px;
}


.formTable td.limit {
	padding-right: 25px;
	white-space: nowrap; 
	width: 140px;
}

.formTable td td.limit {
	padding-left: 0px;
}

.fieldButtons input,
.fieldButtons button {
	margin: 5px 5px 0 0; 
}

textarea {
	overflow: auto;
	width: 300px;
	height: 80px;
}

.textarea_medium {
	overflow: auto;
	width: 440px;
	height: 100px;
}

.textarea_big {
	overflow: auto;
	width: 540px;
	height: 200px;
}


.textarea_short_expand {
	overflow: auto;
	width: 150px;
	height: 50px;
}

.textarea_med_expand {
	overflow: auto;
	width: 300px;
	height: 80px;
}

.textarea_long_expand {
	overflow: auto;
	width: 300px;
	height: 160px;
}


.textarea_long {
	overflow: auto;
	width: 300px;
	height: 40px;
}


.textarea_very_long_expand {
	overflow: auto;
	width: 500px;
	height: 160px;
}

.textarea_xxlarge{
	overflow: auto;
	width: 500px;
	height: 300px;
}



.textarea_very_long {
	overflow: auto;
	width: 400px;
	height: 60px;
}

.textarea_short {
	overflow: auto;
	width: 40px;
	height: 17px;
}

.textarea_med {
	overflow: auto;
	width: 184px;
	height: 16px;
}

.textarea_small{
	overflow: auto;
	width: 160px;
	height: 17px;
}

.textarea_small_expand{
	overflow: auto;
	width: 170px;
	height: 55px;
}


.checkbox,
.checkbox_disabled,
.radiobox {
	width: 13px;
	height: 13px;
	padding: 2px 0px 2px 0px;
	margin: 0px;
	border: 0px;
}
.checkbox_middle {
	border: 0px;
}

legend .checkbox,
legend .checkbox,
.formTable .checkbox,
.formTable .checkbox_disabled,
.formTable .radiobox {
	margin-right: 3px;
	margin-top: 4px;
}

.formTable .checkbox,
.formTable .checkbox_disabled{
	margin-right: 3px;
	margin-top: 2px;
	margin-left: 1px;
}

.suboption {
	margin-left: 18px;
}

.input_icon{
	padding-top:1px;
}

td .checkbox {
	margin-bottom: 2px;
}

td .radiobox {
	margin-bottom: 2px;
}

.search_td_content .input_container .input_icon{
	width:16px;
}

.search_td_content .input_container .input_field{
	width:81px;
}	

.input_container .input_field, .input_container .input_icon, .input_container .input_lficon {
	float: left;
}
.input_rule_container_slim  .input_field, .input_rule_container_slim .input_icon, .input_rule_container_slim .input_lficon ,  .input_rule_container .input_field, .input_rule_container .input_icon, .input_rule_container .input_lficon {
	float: left;
}

.input_rule_container .input_icon,  .input_rule_container_slim .input_icon{
	padding-left: 5px;
}
.input_container .input_icon {
	padding-left: 3px;
}
.input_rule_space {
		padding-top: 2px;
	padding-bottom: 2px;
}
.input_container {
	height: 18px;
 	padding-bottom: 1px;  
}

.input_rule_container {
	
 	padding-bottom: 2px; 
	padding-top: 2px;
}

.input_rule_container_slim {
	height: 25px;
	padding-bottom: 2px; 
	padding-top: 2px;
}
.rule_labels {
	float: left;
	white-space: nowrap;
	padding-right: 2px;
	padding-left: 2px;
}

.first_rule_label {
	float: left;
	white-space: nowrap;
	padding-right: 2px;
	padding-left: 50px;
}

.rule_line {
	min-width: 500px;
	max-width: 880px;
	overflow:hidden;
	padding-bottom: 3px;
}
.input_rule_space{
	padding-bottom: 3px;
}

.advanced{
	text-align: right;
	vertical-align: middle;
}

.right_field {
	float: right;
}

.advanced input {
	width: 16px;
	padding-left: 2px;
}
.limits {
	width: 110px;
}

.limit_pref_row {
	text-align: left; 
}
.limit_pref_row .limit_pref_row_cell {
	text-align: left;	
}

.radio_padded {
	padding: 0px;
	margin: 0px;
	height: 20px;
	border: 0px;
}

.highlight_title {
	color: blue;
}


.action_field {
	font-weight:bold;
}

/* -------------- for report --------- */
td.report_name_odd, td.report_name_even {
	vertical-align: top;
	width: 200px;
}

/* ---------- for login --------- */

.select_lang{
	width: 171px;
}

.warning{
	font-weight: bold;
}

/* --- loader ---*/

#loader {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#loader img {
  float: left;
  margin-right: 12px;
}

#loader strong {
  display: block;
  margin-bottom: 3px;
}

#loader_container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /*height: expression(document.documentElement.clientHeight + 'px');*/
  z-index: 1000;
}

#loader_container td td {
	padding-top: 3px;
	text-align: left;
}

#loader_iframe {
	position: absolute;
	z-index: 800;
	display: none;
}

/* ---------- big custom buttons  --------- */

.customBtnswrap {
	float: none; 
	height: 72px;
}

.customBtnswrap + .customBtnswrap {
	padding-bottom: 0px; 
}

.customBtns_disabled,
.customBtns {
	height: 60px;
	padding-top: 8px; 
	/*border 1px solid green;*/
	float:left;
}

.customBtns_disabled .largeBtn_disabled {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	width: 96px;
	margin: 0;
	cursor: default;
	text-align: center;
	float: left;
}

.customBtns .largeBtn {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	width: 96px;
	margin: 0;
	cursor: pointer;
	text-align: center;
	float: left;
}

.customBtns_disabled largeBtn_disabled div{
	cursor: default;
	color: #999999;
	text-decoration: none;
}
.customBtns .largeBtn div{
	color: #000000;
	text-decoration: none;
}

.customBtns_disabled button,
.customBtns button {
	display: none;
}

.small_select {
	min-width: 80px;
}

.xsmall_select {
	width: 40px;
}


.xmedium_select {
	width: 110px;
}

.medium_select {
	width: 150px;
}


.xxmedium_select {
	width: 175px;
}

.large_select {
	width: 180px;
}
.xlarge_select {
	width: 230px;
}

.xxlarge_select {
	width: 330px;
}

/* pannel control layer style */
.layer_style {
	font-size: 11px;
	padding: 10px;
	padding-top: 0px;
}


.layer_style_row {
	padding: 2px;
}

.layer_panel_xlarge {
	margin-top:15%;
	/*width:860px;
	height:100px;*/
}

.layer_panel_large_content {	
	/* width:540px; */
}
.layer_panel_xlarge_content {	
	/*width:860px;*/
}

.layer_style_center {
	padding: 2px;
	padding-left: 30px;
}

.layer_panel_large {
	margin-top:15%;
}

.layer_panel_small {
	margin-top:5%;
}

.layer_panel_medium {
	margin-top:10%;
}


/* Autocomplete styles */

.folding_component {
	cursor:pointer;
	text-align:top;
	vertical-align:top;
	padding-top:3px;
	white-space:nowrap;
}

/* ------------ panel popup ------------*/
.backgroundDiv {	
	background:#F6F6F4;
	-ms-filter: 	"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
	opacity: .45;
	filter:alpha(opacity=45);
	-moz-opacity: 0.45;
	opacity: 0.45;
	position:absolute;	
	z-index: 997;
}


.panel_contentDiv #search_id .misc_left{
	padding-bottom:10px;
	padding-top:5px;

}

.panel_contentDiv .btnTable .misc_left{
	padding-bottom:0px;
	padding-top:3px;
}

.panelBtn button {
  width: 22px;
  height: 18px;
  cursor: pointer;
}

.panelBtn{
	width: 22px;
	height: 18px;
	cursor: pointer;
} 

.panel_content {
   padding:0px;
   margin:0px;
   vertical-align:top;
}

.panel_resize {
  border:0px;
}

.panel_iframe {
  display:block;
   position:absolute;
  top:3px;
  left:3px;
  z-index:-1;  
}

.panel_buttons{
	margin-bottom:5px;
}
.panel_buttons a {
    text-decoration: none;
}

.panel_buttons a:hover {
    text-decoration: underline;
}

.panel_apply {
	font-weight:bold;
	display:inline;
	margin-right:5px;	
}

.panel_cancel {
	font-weight:bold;
	display:inline;
	margin-left:5px;
}

.panel_contentDiv_loading {
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:7px;
	padding-right:7px;
	overflow:auto;
 	z-index:10000; 	
	background:#F6F6F4;
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
	opacity: .45;
	filter:alpha(opacity=45);
	-moz-opacity: 0.45;
	opacity: 0.45;
 	
}


.ui-dialog-content #search_id .misc_left{
	padding-bottom:10px;
	padding-top:5px;

}

.ui-dialog-content .btnTable .misc_left{
	padding-bottom:0px;
	padding-top:3px;
}



/* TOP MENU DEFINITONS */

.topmenuIcon {
  background-position: right; 
  background-repeat: no-repeat;
  width: 10px;
  
}
.topmenuItem {
	padding-top:5px;
	padding-left: 8px;	
}

.topmenuItem a, .topmenuItem a:hover, .topmenuItem a:visited{
	filter:alpha(opacity=100);
	-moz-opacity:1;
}

a.topmenuLink {
	color:black;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	white-space:normal;
}

.top_menu_title .smallBtn{
	cursor: pointer; 
	padding-left: 5px;
}

.top_menu {
	z-index:1000;
}
/*simple table */

.simple_table_header {
	border:0px;
	padding:4px;
}

.simple_table_row {
	padding-left:4px;
	padding-right:4px;
	padding-bottom:3px;
	padding-top:3px;
}
.floated_box {
	float:left;
}
.middle_icon {
	vertical-align:middle;
}
/* ------------ help styles ------------*/

#conHelp {
  	color:black;
  	font-size: 11px;
  	text-align: left;
}

#divb_minus0 {
	vertical-align:middle;
}

#divb_plus0{
	vertical-align:middle;
}



/* ---------- big custom buttons  --------- */

.livemonitorBtnswrap {
	float: none; 
	height: 60px;
}

.livemonitorBtnswrap + .livemonitorBtnswrap {
	padding-bottom: 0px; 
	padding-top: 10px;
}

.livemonitorBtns_disabled,
.livemonitorBtns {
	height: 40px;
	padding-top: 10px; 
	border 1px solid green;
	float:left;
}

.livemonitorBtns_disabled .largeBtn {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	margin: 0;
	cursor: default;
	text-align: center;
	float: left;
	/* padding-left: 8px;  */
	padding-top: 10px;
}

.livemonitorBtns .largeBtn {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	margin: 0;
	cursor: pointer;
	text-align: center;
	float: left;
	/* padding-left: 8px;*/
	padding-top: 10px;
}

.livemonitorBtns_disabled .largeBtn div{
	color: #999999;
	text-decoration: none;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	-x-system-font: none;
	background-color: transparent;
	background-repeat: no-repeat;
	float: left;
	/* padding-top: 8px; */
	padding-left: 10px;
	cursor: default;
}

.livemonitorBtns_span{
	color: #000000;
	padding-left: 10px;
	padding-bottom: 10px;
	position:relative;
	top:-10px;
}
.livemonitorBtns_span_disabled{
	color: #999999;
	padding-left: 10px;
	padding-bottom: 10px; 
	position:relative;
	top:-10px;
}
.livemonitorBtns_status_span{
	color: #000000;
	font-size:11px;
	position:relative; 
	top:-10px;
}

.livemonitorBtns_status_span_disabled{
	color: #999999;
	font-size:11px;
	position:relative; 
	top:-10px;
}

.livemonitorBtns_img{
	cursor: pointer;
}

.livemonitorBtns_img_disabled{
	cursor: default;
}

.livemonitorBtns .largeBtn {
	width: 300px;
}
.livemonitorBtns .largeBtn div{
	color: #000000;
	text-decoration: none;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
	-x-system-font: none;
	background-color: transparent;
	background-repeat: no-repeat;
	float: left;
	/* padding-top: 8px; */
	padding-left: 10px;
	cursor: pointer;
	
	
}
.link {
	cursor: pointer;
}



.livemonitorBtns_disabled button,
.livemonitorBtns button {
	cursor: default;
	display: none;
}


.more_links, .less_links {
	padding-top:2px;
	width:12px;
	padding-right:5px;
}

.more_alerts{
	text-decoration:none;
}

.left_column {
	vertical-align:top;
	padding-left:5px;
	padding-right:20px;
}

#split_table .left_column{
	padding-left:0px;
	width:50%
}

#split_table .right_column{
	width:50%
	
}

.right_column {
	vertical-align:top;
	padding-left:20px;
}

.left_column_container {	
	float:right;
	width:100%;
}

.right_column_container {	
}


.red_text {
	color:#AF3636;
	display:inline;
	font-weight: bold;
}

.red_text a:link, .red_text a:visited, .red_text a:active {
	color:#AF3636;
	display:inline;
	font-weight: bold;
}


.red_text_table {
	color:#AF3636;
	display:inline;
}

.red_text_table a:link, .red_text_table a:visited, .red_text_table a:active {
	color:#AF3636;
	display:inline;
}



.report_content {
	white-space:nowrap;
}

.report_content_right_container{
	white-space:nowrap;
	text-align:right;
}
.report_content_right{
	white-space:nowrap;
	text-align:right;
	margin-right:5px;
	display:inline;
}


/* ------- advanced search style ------------ */

.search_select {
	width: 124px;
}
.search_text {
	width: 120px;
	padding: 3px;
}
.search_td {
	white-space:nowrap;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	vertical-align: middle;
	font-weight: normal;
	color: #444444;
}
.search_td_support{
	height:4px;
}

.search_td_label {	
	white-space:nowrap;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	vertical-align: middle;
	font-weight: normal;
	text-align:left;
}

.search_td_content {	
	white-space: nowrap;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	vertical-align: middle;
	font-weight: normal;
	color: #444444;
	text-align: left;
}

.simple_search {
	position: relative;
	padding-top: 3px;
	 left: 125px; 
}



.search_div{
	padding-left:0px;
	padding-bottom:3px;
}

.search_separator {
	border-left: 1px solid #cccccc;
}


/* -------- billing area ------------ */

.billing_table{
	border:1px solid #cccccc;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
}

.billing_table th{ 
	border-left:1px solid #cccccc; 
	margin:0px;
	padding:3px;
	border-collapse:collapse;
	
}

.billing_table td{ 
	border-top:0px;
	border:1px solid #cccccc;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	padding:5px;
}

.billing_table .Row{ 
	background:#ffffff;
}

.oddRow, .evenRow {
	background:#fff;
}

.simple_table_row{
	border-bottom:1px solid #ccc;
}

.right_report_table{
	border:1px solid #cccccc;
	background:#ffffff;
	border-collapse:collapse;
	width:100%;
}

.right_report_table_content{
	padding-top:5px;

}

.report_name_left{

	
}

.report_content_left_billing{
	padding-right:10px;
	text-align:right;
}

.report_content_right_billing{
	width:80px;
	text-align:right;
	padding-right:12px;	
}

.report_content_container{
	padding-top:5px;

}

.report_name_container_2{
	padding-bottom:3px;
	padding-top:1px;
	font-weight:bold;
}

.report_name_container_1{
	padding-bottom:3px;
	padding-top:3px;
}

.report_name_container_0{
	padding-bottom:1px;
	padding-top:3px;
}

.billing_td_price {	
	padding-right:7px;
	text-align:right;
	white-space:nowrap;		
	/*text-align:center;*/
}
.more_alerts {
	text-decoration: underline;
}

.more_alerts_text{
	border:1px solid #e1e1e1;
	background:#ffffff;
	width:100%;
	padding:5px;
}



#multiple_select_left {
	margin-right: 25px;
	padding-bottom: 0px;
}
#multiple_select_left select , #multiple_select_right select {
	width: 175px;
}
#multiple_select_left option , #multiple_select_right option {
	/* Essential */
	overflow: hidden;
}

#multiple_select_title {
	margin-bottom: 5px;
	text-align: center;
}


.formTable td.name_mutiple_select{
	vertical-align: top;
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 55px;
	width: 230px;
	text-align:left;
	
}



.mutiple_selected_label_pos{
	vertical-align: middle;
}

.aligncenter {	
	text-align: center;
}
.header_checkbox {	
	margin:0px;
	border:0;
	/*padding:0px;*/
}

.header_checkbox_label {
	cursor:pointer;
}
.panel_buttons_header {
	margin-top:10px;
	margin-bottom:10px;
}

.string_underline {
	text-decoration: underline;
	cursor: pointer;
}
.email_notify_disabled a {
	text-decoration: none;
	color: #999999;
}

.email_notify{
	cursor:pointer;
}


.text_setup {
	padding:3px;
	padding-left: 22px;
	font-size: 12px;
}

.row_setup {
	padding-left: 22px;
	font-size: 12px;
}

.sip_table {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	padding-top:5px;
	
}
.setup_header {
	width:50%;
	font-size: 13px;
}

.whiteReportTable, .main_invoice_info_paid, .main_invoice_info_due, 
.main_invoice_info_overdue, .main_invoice_info_void {
	border: 0px solid #cccccc;
	border-collapse: collapse;
	padding-top:5px;
	background-color:#ffffff;
}



.whiteReportTable_name_odd, .whiteReportTable_name_even{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	font-weight: bold; 
	width: 30%;
	text-align:left;
	border: 1px solid #cccccc;
}

.main_invoice_info_paid_name,.main_invoice_info_paid_name_odd,.main_invoice_info_paid_name_even,
.main_invoice_info_due_name, .main_invoice_info_due_name_odd,.main_invoice_info_due_name_even,
.main_invoice_info_overdue_name, .main_invoice_info_overdue_name_odd, .main_invoice_info_overdue_name_even,
.main_invoice_info_void_name, .main_invoice_info_void_name_odd, .main_invoice_info_void_name_even
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	font-weight: bold; 
	width: 30%;
	text-align:left;
	border: 0px solid #cccccc;
}


.whiteReportTable_content_odd, .whiteReportTable_content_even{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	text-align:left;
	border: 1px solid #cccccc;
}


.main_invoice_info_paid_content,.main_invoice_info_paid_content_odd,.main_invoice_info_paid_content_even,
.main_invoice_info_due_content, .main_invoice_info_due_content_odd, .main_invoice_info_due_content_even, 
.main_invoice_info_overdue_content,.main_invoice_info_overdue_content_odd,.main_invoice_info_overdue_content_even,
.main_invoice_info_void_content,.main_invoice_info_void_content_odd,.main_invoice_info_void_content_even
 {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	text-align:left;
	border: 0px solid #cccccc;
}

.container_invoice_info_paid {
	border: 1px solid #3f9117;
	border-collapse: collapse;
	padding-top:5px;
}

.main_invoice_info_paid{
	background:#f2ffec;
}



.container_invoice_info_due {
	border: 1px solid #fd8f4c;
	border-collapse: collapse;
	padding-top:5px;
}

.main_invoice_info_due{
	background:#fff7e5;
}

.container_invoice_info_overdue{
	border:1px solid #f74e21;
	border-collapse: collapse;
	padding-top:5px;
}

.main_invoice_info_overdue{
	background:#fff3ee;
}

.container_invoice_info_void{
	border: 1px solid #767676;
	border-collapse: collapse;
	padding-top:5px;
}

.main_invoice_info_void{
	background:#f0f0f0;
}

/* ----- BILLING, deployment utilization layer----- */

.update_info_img {
	padding-top:30px;
	position:relative; 
	text-align:center;
	margin:auto;
}

.update_info_txt {
	padding-left:60px;
	padding-top:10px;
}

.update_info_logs_txt {
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

.update_info_logs_img{
	padding-top:10px;
	display:block;
	margin:auto;
}

.toplevel_spacer {
	height:8px;
}

.status_red {
	color: #d93819; 
}

.status_yellow {
	color: #fe9b00; 
}

.status_green {
	color: #0da502; 
}

.panel_context {
	background:#FFFFFF none repeat scroll 0 0;
	border-bottom: 1px solid #CCCCCC;
	padding:4px;
	padding-left:11px;
	padding-right:8px;
	font-size:11px;
	color:#777;
}

#tr-new_status .name{
	padding-top:2px;
}


.panel_contentDiv {
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
	overflow:hidden;
	position:relative;

}

.whiteBlock {
	border: 1px solid #cccccc;
	border-collapse: collapse;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	background-color:#ffffff;

}
.total_amount{
	font-size:13px;
}


.greenRow{
	background:#d5f5de;
	border-bottom: 1px #DDDDDD solid;
}

.redRow{
	background:#fde7e0;
	border-bottom: 1px #DDDDDD solid;
}

.yellowRow{
	background:#fef7d4;
	border-bottom: 1px #DDDDDD solid;
}

.greenRow_mover{
	background:#c3edcf;
}

.redRow_mover{
	background:#fdded4;
}

.yellowRow_mover{
	background:#fbf2c0;
}


/*category popup - from product list page*/
.category_container {
	padding-top:1px;
	padding-bottom:1px;
	font-weight: bold;
	/*text-decoration:underline;*/
}


/* left floating billing menu */

.rightFloatingMenu{
	width:24px;
	border-right:0px;
	border-bottom:0px;
	right:0px;
	top:100px;
	position:absolute;
}
.rightFloatingBox, .rightFloatingBoxSimple {
	width:24px;
	border-right:0px;
	border-bottom:0px;
	right:0px;
	top:180px;	
	position:absolute;
	z-index:100000;
}


.rightFloatingMenuContainer{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: .75;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.rightFloatingMenuSection {
	padding-top:5px;
}
.rightFloatingMenuSectionTitle {
	font-weight:bold;
	padding-top:6px;
	padding-bottom:4px;
}
.rightFloatingMenuSectionContent {
	padding-top:5px;
	width:100%;
}
.rightFloatingMenuFieldNameOdd, .rightFloatingMenuFieldNameEven {
	padding-left:10px;
	padding-top:2px;
	padding-bottom:2px;
}


.rightFloatingMenuInfo {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0px;
}
.order_container {
	width:350px;
	background:#fff;
	border:1px solid #aaa;
	padding:10px;
	cursor:pointer;
	height:200px;
	overflow: auto;
	
}
.order_container_empty {
	width:350px;
	background:#fff;
	border:1px solid #aaa;
	padding:10px;
	cursor:pointer;
	height:100px;
	overflow: auto;
	
}
.order_no_records{
	color:#bbb;
	text-align:center;
	padding-top:40px;
}

.order_records{
	border-bottom:1px solid #ccc;
	text-align:left;
	padding-bottom:2px;
	margin-bottom:10px;
}

.order_product{
	font-weight:bold;
	font-size:11px;	
}

.order_product_remove{
	width:18px;
	padding-top:3px;
}

.order_product_details{
	color:#444;
	padding-top:5px;
	font-size:10px;
	padding-bottom:2px;
}

.order_product_spacer{
	height:0px;
}

.order_product_spacer_addon{
	height:0px;
}

#product_row_1_spacer .order_product_spacer{
	height:10px;
}

#product_row_1_spacer .order_product_spacer_addon{
	height:5px;
}
/* custom look for file fields */

.input_relative_disbaled {
	background-color: #C2BFA5;
}

.upload_input {
	width:115px;
	background:#fffbe2;
}

.upload_input_disabled {
	width:115px;
	background:#C2BFA5;
}

div.upload_fileinputs {
	position: relative;
	display:inline-block;
	overflow: hidden;
	min-height: 20px;
	min-width: 200px;
	max-width: 200px;
}



.upload_hidden {
	position: absolute;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	float:left;
	top: 0px;
	left: 0px;
	min-width: 200px;
	border: 1px solid red;
}


.upload_fakeinput{
	float:left;
	padding-right:5px; 
	z-index: 1;
	position: absolute;
}
.upload_fakeimg{
	position:relative;
	cursor: pointer;
	position: absolute;
	right: 3px;
}

.report_block_table_details {
	overflow:auto;	
	height:100px;
	width:550px;
}



/* Foldable Box Area */

.hide .foldBoxContent {
  display: none;
}


.hide .foldBoxHeaderLayout .front  {
  background-position: 0 -40px;
}

.hide .foldBoxHeaderLayout .middle  {
  background-position: 0 -40px;
}

.hide .foldBoxHeaderLayout .end  {
  background-position: 0 -40px;
}


.foldBoxHeaderArea {
  border-collapse: separate;
  height: 20px;
  overflow: hidden;
}

.foldBoxHeaderArea td {
  white-space: nowrap;
}

.foldBoxHeaderArea .main {
  padding: 0 0 0 6px;
  width: 100%;
  line-height: 19px;
  vertical-align: top;
}


.foldBoxContent {
  padding: 6px 0px 0;
}

.LabelSection {
  display: inline;
  float: left;
  margin: 0 0 0 -6px;
  padding: 0 0 0 2px;
  height: 20px;
}


.hover .foldBoxHeaderLayout {
  cursor: pointer;
}


.hide .foldBoxHeaderLayout .misc,
.hide .foldBoxHeaderLayout .LabelSection span {
  background-position: 100% -40px;
}

.hide .foldBoxHeaderArea .misc span {
  background-position: 100% -15px;
}


.show.hover.foldBox tr.all:hover .middle {
	background-position: 100% -20px;
}

.show.hover.foldBox tr.all:hover .end {
	background-position: 100% -20px;
}

.show.hover.foldBox tr.all:hover .all {
	background-position: 100% -20px;
}
.show.hover.foldBox tr.all:hover .misc span {
	background-position: 100% -30px;
}


.hide.hover.foldBox tr.all:hover .middle {
	background-position: 100% -60px;
}

.hide.hover.foldBox tr.all:hover .end {
	background-position: 100% -60px;
}

.hide.hover.foldBox tr.all:hover .all {
	background-position: 100% -60px;
}

.hide.hover.foldBox tr.all:hover .misc span {
	background-position: 100% -45px;
}

/*End of Foldable Box Area */

.radiobox_disabled {
	border:none;
}

.panel_min_support{
	width:auto !important; 
	width:150px; 
	
	min-height:150px; 
	width:auto !important; 
	height:150px;
}

.panel_maxw_support_small {	
	width:auto !important; 
	width:240px; 
}

.panel_maxw_support_medium {	
	width:auto !important; 
	width:330px; 
}

.panel_maxw_support_xmedium {	
	width:auto !important; 
	width:460px; 
}

.panel_maxw_support_large {	
	width:auto !important; 
	width:560px; 
}

.panel_maxw_support_xlarge {	
	width:auto !important; 
	width:800px; 
}
.move_table_bottom {
	border-bottom:1px solid #dddddd;
}



/* Autocomplete styles */
div.auto_complete {
	width: 150px;
	
	position:relative;
	/* border: 1px solid red;*/
}
div.auto_complete .main {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	background: #fff;
	cursor:pointer;
	position:absolute;
}
div.auto_complete .main .item {
	margin:0;
	padding:1px;
	cursor:pointer;
}
/* div.auto_complete .main .item:hover,*/ 
div.auto_complete .main .item_hover {
	margin:0;
	padding:1px;
	cursor:pointer;
	background: #f0f0f0;
}

div.auto_complete ul li.selected {
	background-color: #ffb;
}
div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}
div.login_message {
	margin: 0px;
}
div.rule_number_title{
	color: #000000;
	background-color: #EFEFEF;
	width: 100%; 
	min-height: 30px; 
	height:auto !important; 
	height:30px; 
	padding-top: 5px; 
	padding-bottom:0px; 
	border-top: 0px;
}

.call_notes_info {
	padding:5px;
}

.call_notes_text {
	min-height: 140px;
	padding:5px;
	border:1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.panel_choose_title {
	padding-top:6px;
	padding-bottom:4px;
	font-size:12px;
}

.panel_choose_block {
	cursor:pointer;
	border:1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding:6px;
}
.panel_choose_block_hover {
	cursor:pointer;
	border:1px solid #CCCCCC;
	background-color: #FFFCDF;
	padding:6px;
}
.callerid_container {
	width:170px;
	height:38px;
	overflow:auto;
	float:left;
	border:1px solid #7F9DB9;
	background-color: #FFFFFF;
	color:#000000;
	padding:3px;
	margin-right:4px;
}

.callerid_container_disabled {
	width:170px;
	height:38px;
	overflow:auto;
	background-color: #C2BFA5;
	color:#8B8760;
	float:left;
	border:1px solid #7F9DB9;
	padding:3px;
	margin-right:4px;
}



/*------------- Sound player CSS --------------- */
.snd_play, .snd_play_disabled{
	width:16px;
	height: 16px;
	float:left;
	position: absolute;
	top:0xp;
	left:0px;
	cursor: pointer;
}


.snd_pause, .snd_pause_disabled{
	width:16px;
	height: 16px;
	float:left;
	position: absolute;
	top:0xp;
	left:0px;
	display:none;
	cursor: pointer;
}
.snd_stop, .snd_stop_disabled{
	width:16px;
	height: 16px;
	float:left;
	position: absolute;
	top:0xp;
	left:20px;
	cursor: pointer;
}
.snd_progress, .snd_progress_disabled {
	width: 60px; 
	float:left; 
	padding-top: 4px; 
	position:relative;
}

.snd_duration {
	position:absolute; 
	top:1px; 
	left: 125px; 
	height: 11px; 
	color:#5F5F5F; 
	font-size:11px;
	float:left;
}

.snd_progress_disabled .snd_duration{
	color:#bababa;
}

.not_found{
	overflow:hidden;
	width: 160px; 
	height: 20px;
	position: relative;
}

.snd_not_found_img{
	float:left;
	padding-right:3px;
}

.snd_not_found_text{
	float:left;
	padding-top:1px;
	color: #5F5F5F;
}

.ui-progressbar .ui-widget .ui-widget-content {
	background:none repeat-x scroll 50% 50% #FFFFFF;
	border:1px solid #AAAAAA;
	color:#222222;
} 

.snd_progress_disabled .ui-widget-content{
	border:1px solid #dadada;
}

.listen_container {
	overflow:hidden; 
	width: 160px; 
	height: 20px;
	position: relative;
}

.listen_container_down{
	overflow:hidden; 
	width: 185px; 
	height: 20px;
	position: relative;
}

.download_container {
	overflow:hidden; 
	width: 20px; 
	height: 18px;
	position: relative;
	float:right;
}

.ui-progressbar { 
	height:7px; 
	width: 80px;
	text-align: left; 
	position: absolute;
	top:0xp;
	left:40px;
}

.ui-progressbar_disabled { 
	height:7px; 
	width: 80px;
	text-align: left; 
	position: absolute;
	top:0xp;
	left:40px;
}

.ui-progressbar .ui-progressbar-value, .ui-progressbar_disabled  .ui-progressbar-value {
	margin: -1px; 
	height:100%;
}

.ui-widget { 
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; 
	font-size: 1.1em/*{fsDefault}*/; 
}
.ui-widget .ui-widget { 
	font-size: 1em; 
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; 
	font-size: 1em; 
}

.info_link {
	text-decoration: none;
	border-bottom: 1px dashed #000000; 
}
.info_box {
	padding:2px;
}
.info_line {
	
}
/*------------- Sound player CSS --------------- */

.stat_table, .stat_table_ext{
	padding-top:10px;
	width:60%; 
	min-width:600px; 
	margin-top: 10px;
}
.stat_table_big{
	width:80%; 
	min-width:900px;
	padding-top:10px;
	
}

.graph_container{
	padding-top: 10px;
}

.double_overview_container{
	overflow:hidden; 
	width:80%;
	/*width: 100%; */
	padding-bottom: 5px;
	/*float:left;*/
	margin-left:auto; 
	margin-right:auto;
}
.overview_container{
/* 	position:relative; */ 
	float:left;
	/*width: 50%; */
	width: 500px;
	padding-top: 10px; 
	padding-bottom: 5px;
	margin-left:10px;
	margin-right:10px;
	overflow:hidden; 
}

.overview_link_container{
/*	position:relative; */
	/*margin-left: 30px;*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.login_hint_container{
	border-bottom:1px solid #d3d3d3;
	background:#f6f6f6;
}


.reports_left{
	float:left;
}
.reports_centered{}

.multiple_input_container{
	display:none; 
	overflow:hidden;
	padding-bottom:5px;
}
.input_relative{
	position:relative;
}

.link_text{
	cursor: pointer;
	text-decoration: underline;
	
}

.prov_btn_ctn{
	float:left;
	margin-top: 4px;
}


