@import url(../css/layout.css);
/*
*****************
*	GENERAL.CSS	*
*****************
*/
body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background: #F6F6F4;
}

select, input, textarea, .input, .text_area {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #7f9db9;
}

.input_disabled, .textarea_disabled {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #7f9db9;
	background-color: #C2BFA5;
}

.toggle_bar_content {
	width:7px;
	background:#dddede;
	height:100%;
	overflow: hidden; 
}

a:link {
	color: #0240a3;
}

a:visited {
	color: #0240a3;
}

a:active {
	color: #000000;
}

/* ---------- list  --------- */

th {
	text-align: left;
	background: #cad9f5;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff; 
}

th a:link, th a:visited, th a:active {
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
}

th a:hover {
	text-decoration: underline;
	vertical-align: middle;
}

.sort {
	background-color: #a2bef6; 
}

.Row {
	background-color: #ffffff; 
}

.Row .simple_table_row {
	background-color: #ffffff; 
	border-bottom:1px solid #cad9f5;
}


.Row a, .redRow a, .yellowRow a, .greenRow  a{
	color:#222222;
}


.Row_mover {
	background-color: #eff4f8; 
}

.Row_checked {
	background-color: #f8f1dc; 
}

.list_data .evenRow {
	background-color: #ffffff; 
}

.list_data .oddRow {
	background-color: #f0f0f0;
}

.list_data .evenRow  a{
	color:#222222;
}

.list_data .oddRow  a{
	color:#222222;
}

/* ---------- form  --------- */

form .formButtons {
	border-top: 1px solid #cccccc;
}

.setupButtons .formButtons {
	border-top: 0px;
}


.input_required{
	background: #f9dada;
}

.name_required{
	background: #fdeae9;
}


/* ---------- tabs  --------- */

#screenTabs {
	margin-bottom: 0px;
	float:left; 
	width: 100%;
	background:#F6F6F4 url("../images/tabs/bg.gif") repeat-x bottom;
	/*display:expression(this.getElementsByTagName('UL').length ? "block" : "none");*/
	margin-top:15px;	
}

#tabs {
	clear:both;
	float:left;	
	line-height:normal;
	white-space: nowrap;
	background:#F6F6F4 url("../images/tabs/bg.gif") repeat-x bottom;
}

#tabs ul {
	margin:0;
	padding: 0px 10px 10px 10px;
	list-style:none;
}

#tabs a {
	font-family: Verdana, Arial, Helvetica sans-serif;
	display: block;
	background:url("../images/tabs/right.gif") no-repeat right top;
	padding: 5px 9px 4px 4px;
	vertical-align: baseline;
	text-decoration: none;
	color: #000000;
	width:.1em;
}

#tabs > ul a {
	width: auto;
}

#tabs a:hover,
#tabs a:visited,
#tabs a:active {
	text-decoration: none;
	color: #000000;
}

#tabs li {
	float: left;
	background: url("../images/tabs/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 2px;
	border-bottom:1px solid #776655;

}

#tabs li#current {
	border-width: 0;
	border-bottom:1px solid #F9F8F8;
}

#tabs #current {
	background-image:url("../images/tabs/left_on.gif");
	margin-left: -3px;
}

#tabs #current a {
	background-image:url("../images/tabs/right_on.gif");
	/* padding: 3px 9px 7px 6px;*/
	vertical-align: baseline;
}

#tabs .last a {
	background-image:url("../images/tabs/right_last.gif");
}

#tabs .first {
	background-image:url("../images/tabs/left_first.gif");
}

#tabs .first#current {
	margin-left: 0;
}

#tabs li:hover {
	background-position: 0% -150px;
	cursor: pointer;
}

#tabs li:hover a {
	background-position: 100% -150px;
}

#tabs li.first:hover {
	background-position: top left;
}

#tabs a:hover {
	background-position: 100% -150px;
}

/* ---------- misc elements --------- */

.quickLink {
	font-size: 14px;
	background: #ecf1f9;
	color: #444444;
	padding: 5px 0px 0px 11px;
}

.quickLink a:link,
.quickLink a:visited,
.linkbar a:link,
.linkbar a:visited {
	color: #444444;
}
.linkmenu a:link,
.linkmenu a:visited {
	color: #444444;
}

.setupTitle, .setupTitleWhitebox {
	padding-left:15px;
	padding-right:15px;
	height:30px;
	margin: 0;
	vertical-align: middle;
	background-image:url(../images/setup_top.gif);
	background-repeat:repeat-x;	
	background-position:bottom;
}

.setupTitleWhitebox {
	background-image:url(../images/setup_top_whitebox.gif);
}

.setupTitle .titleBox, .setupTitleWhitebox .titleBox{
	font-size: 18px;
	font-family: "Franklin Gothic Medium", Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 0px 5px 0px 10px;
	vertical-align: middle;
	white-space: nowrap;
}

.setup_table_shaddow{
	background-image:url(../images/setup_shaddow.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	padding:5px;
	padding-top:0px;
	padding-left:0px;
}

.setup_table_border{
	border:1px solid #345bae;
}

.pageTitle {
	background: #ecf1f9;
	margin: 0;
	vertical-align: middle;
	border-bottom:1px solid #cfcfcf;	
}

.pageTitle .titleBox {
	font-size: 18px;
	font-family: "Franklin Gothic Medium", Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 0px 5px 0px 10px;
	vertical-align: middle;

}

.pageTitleLinks{
	background-image:url(../images/page_title_links_background.gif);
	background-position:top left;
	background-repeat:repeat-x;	
}

.menuUp{
	float:left;
}

.upButtons span{
	margin-right:16px;
}

.upButtons{
	float:left;
}

.top_menu_right_border{
	border-right:1px solid #cccccc;
	padding-right:23px;
	padding-top:9px;
	padding-bottom:6px;	
}

.top_menu_right_border_first{
	border-right:1px solid #cccccc;
	padding-top:9px;
	padding-bottom:6px;	
}

.top_menu_left_border{
	padding-left:15px;
	padding-top:8px;
	padding-bottom:4px;	
}

.top_menu_title{
	height:17px;
}

.top_menu_title_icon{
	width:14px;
	height:7px;
	float:left;
	background-image:url(../images/icons/down.gif);
	background-repeat:no-repeat;
	background-position:bottom right;	
}

.pageTitle .name,
.pageTitle b {
	font-weight: normal; 
	color: #3366ca;
}

.infoData{
	vertical-align: middle;
	padding-bottom: 14px;
}
.infoTable{
	border-top: 1px #DFDFDF solid;
	background: #FFFEEF;
	width: 100%;
}
.infoTable td.bottom{
	line-height: 18px;
	border-bottom: 1px #DFDFDF solid;
}

.express_box {
	margin: 10px 0 0 0;
	border: 2px solid;
	background: #ffffff;
	padding: 10px 32px;
	background-repeat:  no-repeat;
	background-position:  10px 11px;
	border-color: #009933;
	margin-bottom:10px;
}

/* - ---------------- messages -------------- */


.message_info, .message_warning , .message_critical{
	margin: 0px 0 0 11px;
	background:transparent url(../images/shaddow_corner_big.png) repeat scroll 100% 100%;
	background-repeat:no-repeat;
	background-position:bottom right;
	padding-bottom:3px;
	padding-right:4px;	

}

.message_info_login, .message_warning_login, .message_critical_login {
	margin: 10px;
	background:transparent url(../images/shaddow_corner_big.png) repeat scroll 100% 100%;
	background-repeat:no-repeat;
	background-position:bottom right;
	padding-bottom:0px;
	padding-right:0px;	
}

.custom_login_message.single_message {
	color:#cc0000;
}

.message_critical .single_message{
	color:#cc0000;
}
.message_critical .inner_message{
	background: #ffefe3;	
	background-image: url(../images/icons/critical.gif);
	background-repeat:  no-repeat;
	background-position:  10px 8px;		
	padding: 10px 32px;
	border: 1px solid;	
	border-color: #cc0000;	
	padding-right:15px;
		
}
.message_critical_login .inner_message{
	background: #ffefe3;	
	background-image: url(../images/icons/critical.gif);
	background-repeat:  no-repeat;
	background-position:  10px 8px;		
	padding: 10px 32px;
	border: 1px solid;	
	border-color: #cc0000;	
	padding-right:15px;
	font-weight:bold;	
}
.message_warning_login .inner_message{
	background: #FFF8D9;	
	background-image: url(../images/icons/warn.gif);
	background-repeat:  no-repeat;
	background-position:  10px 8px;		
	padding: 10px 32px;
	border: 1px solid;	
	border-color: #CC9901;	
	padding-right:15px;
	padding-bottom:15px;
	font-weight: bold;
	color: #CC9901;
}

.panel_row_no_operation{
	background: #FFF8D9;
	background-image: url(../images/icons/alert.gif);
	background-repeat:  no-repeat;
	background-position:  5px 4px;	
	padding: 5px 27px;	
	padding-right:15px;
	padding-bottom:5px;
	border: 1px solid;	
	border-color: #CC9901;
	
}

.htalert_context{
	padding:10px;
	padding-bottom:0px;
}

.conHTAlert{
	background: #FFF8D9;	
	background-image: url(../images/icons/warn.gif);
	background-repeat:  no-repeat;
	background-position:  5px 4px;		
	padding-top:6px;
	padding-bottom:6px;
	border: 1px solid;	
	border-color: #CC9901;	
	padding-right:15px;
	padding-left:30px;
}

.message_warning .inner_message{
	background: #FFF8D9;	
	background-image: url(../images/icons/warn.gif);
	background-repeat:  no-repeat;
	background-position:  10px 8px;		
	padding: 10px 32px;
	padding-right:15px;
	border: 1px solid;	
	border-color: #CC9901;	
}

.message_info .inner_message{
	background: #EAFAF0;	
	background-image: url(../images/icons/info.gif);
	background-repeat:  no-repeat;
	background-position:  10px 8px;		
	padding: 10px 32px;
	border: 1px solid;	
	border-color: #11AD45;	
	padding-right:15px;
}

.conHTAlert_info{
	background: #EAFAF0;	
	background-image: url(../images/icons/info.gif);
	background-repeat:  no-repeat;
	background-position:  5px 2px;		
	padding-top:4px;
	padding-bottom:4px;
	border: 1px solid;	
	border-color: #11AD45;	
	padding-right:15px;
	padding-left:30px;
}

.message_info .title {
	color: #009933;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}

.message_warning .title {
	color: #CC9901;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}	

.message_critical .title {
	color: #cc0000;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}



.message_info_login .inner_message{
	color: #009933;	
	font-weight: bold;
	background-color: #EAFAF0;
	border: 1px solid #11AD45;	
}
.message_info_login .title {
	color: #009933;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}


.message_warning_login .title {
	color: #CC9901;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}	

.message_critical_login .inner_message{
	color: #cc0000;	
}

.message_critical_login .title {
	color: #cc0000;
	font-weight: bold;
	padding-right:5px;
	vertical-align:top;
}


.message_container_warning .inner_message  .inner_message_icon_login{
	background-image: url(../images/icons/alert.gif);
	background-repeat:  no-repeat;
	background-position:  5px 4px;	
	padding: 5px 27px;	
	padding-right:15px;
	padding-bottom:0px;
}

.message_container_info .inner_message  .inner_message_icon_login{
	background-image: url(../images/icons/info.gif);
	background-repeat:  no-repeat;
	background-position:  10px 11px;	
	padding: 11px 30px;	
	padding-right:34px;
	padding-bottom:11px;
}

.message_critical_login .message_container_critical .inner_message  .inner_message_icon_login{
	background-image: url(../images/icons/critical.gif);
	background-repeat:  no-repeat;
	background-position:  5px 4px;	
	padding: 5px 27px;	
	padding-right:15px;
	padding-bottom:0px;
}

.login_hint_shadow{
	background-color: #FFF888;
}
.login_hint {
	padding-left: 10px;
	padding-right: 5px;
}
/* ---------- common buttons --------- */

.someBtn button,
.someBtn {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#fffff;
	background-color: transparent;
	display: inline;

}

.toggleSearch {
	margin-right: 10px;
}

 button {
	color:#000;
 }

.someBtn_disabled button,
.someBtn_disabled {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #bbbbbb;
	background-color: transparent;
	display: inline;
}
.someBtn button {
	background-image: url(../images/icons/btn_bg.gif);
	border: 0 solid white;
	background-repeat: no-repeat;
	padding-top:3px;
	padding-bottom:6px;
	display: inline;
	white-space: nowrap;
}
.someBtn_disabled button {
	background-image: url(../images/icons/btn_bg_off.gif);
	border: 0 solid white;
	background-repeat: no-repeat;
}


/* ---------- big icon buttons  --------- */

.actionBtns_disabled .largeBtn_disabled {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 32px 0px 0px 0px;
	width: 111px;
	margin: 0;
	cursor: default;
	text-align: center;
	float: left;
	padding-right:3px;
	padding-left:3px;	
	background-image: url(../images/icons/custom-buttons.gif);
}

.actionBtns .largeBtn {
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 32px 0px 0px 0px;
	width: 111px;
	margin: 0;
	cursor: pointer;
	text-align: center;
	float: left;
	padding-right:3px;
	padding-left:3px;
	background-image: url(../images/icons/custom-buttons.gif);
}

/* calendar styles */
.date_input {
	width: 76px;
}

.date_input_disabled {
	width: 76px;
	background-color:#C2BFA5;
}

.table1 a {
    text-decoration: none;
}

.table1 a:hover {
    font-weight: bold;
}

.table2 {
    border:1px solid #dadad0;
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-size: 11px;
    background: #ffffff;
	color:#f67b1e;
}
.calendar_header {
    background: #7495CF;
}
.calendar_text {
	border:0px;
	border-left:4px solid #7495CF;
	border-right: 2px solid #7495CF;
	width: 18px;
	color: #2B5380;
	background: #F5F8FC;
}

.time_controls{
	cursor: pointer;
	position:relative;
	top:-2px;
}
.calendar_time {
	height: 25px;
	color: #FFFFFF;
	background: #7495CF;
	width: 100%;
}

.calendar_area{
    color: #0240a3;
}

.calendar_footer{
    padding: 0px;
    background: #8aaae8;
}

.controls {
    cursor: pointer;
}

.prev_month {
    text-align: right;
    color: #999999;
}

.next_month {
    text-align: right;
    color: #999999;
}

.current_day {
    color: #0240a3;
    border: 1px solid #e14b0b;
}

.sunday {
    color: #2a5fc8;
}

.normal_day {
    color: #2a5fc8;
}

.month_pulldown,
.year_pulldown {
    text-align: center;
    background: #f6f6f4;
    border:1px solid #dadad0;
    cursor: pointer;
}

.calendar_minus,
.calendar_plus {
    font-size: 15px;
    font-weight: bold;
    color: #2a5fc8;
}

.year,
.month {
    color: #000000;

}

.year_selected,
.month_selected {
    color: #000000;
    font-weight: bold;
} 


/*
*****************
*	LAYOUT.CSS	*
*****************
*/

#resize_tabs{
	width:770px;
	line-height:normal;
	white-space: nowrap;
	background:#f6f6f4;
}

/* ---------- form  --------- */

.help_caption {
	cursor: pointer;
	border: 1px solid #666;
	padding: 5px;
  	max-width: 420px;
  	background: #ffffd2;
	z-index: 900;
}

.hint_caption{
	cursor: pointer;
	border: 1px solid #9aaed3;
	padding: 5px;
  	max-width: 220px;
  	background: #f0f0f0;
	z-index: 900;
}

/* ---------- for login --------- */

.copyright{
	color:#222222;
}

.login_body{
	background:#e0e0e0;
	background-image:url(../images/login_background.gif);
	background-repeat:repeat-x;
	background-position:top;
}

.login_table{
	background:#fff;
}

.login_table_shaddow{
	background-image:url(../images/login_shaddow.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	padding:7px;
	padding-top:0px;
	padding-left:0px;
}

.login_table_shaddow_top_right{
	background-image:url(../images/login_shaddow_top_right.png);
	background-position:top left;
	background-repeat:no-repeat;	
	width:5px;
}

.login_table_shaddow_bottom_right{
	background-image:url(../images/login_shaddow_bottom_right.png);
	background-position:top left;
	background-repeat:no-repeat;
	height:5px;	
}

.login_table_shaddow_bottom_left{
	background-image:url(../images/login_shaddow_bottom_left.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

.login_table{
	width: 400px;
	text-align: left;
	padding: 0px;
	border:1px solid #345bae;
}

/* --- loader ---*/

#loader td {
  padding: 3px;
  background: #ffffff;
}

#loader p {
  border: 3px solid #6E89DD;
  padding: 10px;
  margin: 0;
  background: #eef4ff;
}

#loader_container td {
	vertical-align: middle;
	text-align: center;
	background-image: url(../images/semi-transparent.gif);
}

#loader_bar {
	background: #00ff00;
	width: 0px;
}

.small_select_disabled {  	
	width: 88px;
	background-color: #C2BFA5; 
}

.medium_select_disabled {
	width: 150px;
	background-color: #C2BFA5;
}

.xxmedium_select_disabled {
	width: 175px;
	background-color: #C2BFA5;
}

.large_select_disabled {
	width: 180px;
	background-color: #C2BFA5;
}

.xlarge_select_disabled {
	width: 230px;
	background-color: #C2BFA5;
} 

/* Autocomplete styles */
div.auto_complete {
	width: 350px;
	background: #fff;
}

div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}

div.auto_complete ul li {
	margin:0;
	padding:3px;
}

div.auto_complete ul li.selected {
	background-color: #ffb;
}

div.auto_complete ul strong.highlight {
	color: #800;
	margin:0;
	padding:0;
}

.diff {
	padding:5px;
	background-color:#F0F0F0;
	border: 1px solid #8AAAE8;
}

.diff_inserted {
	background-color:#EFFFF4;
}

.diff_deleted {
	background-color:#FFEFF3;
}

/* ------------ panel popup ------------*/
.inner_table1 {
	padding:0px;
	margin:0px;
	padding-right:0px;
	padding-bottom:0px;
	border:0px;
}


.table2{
   border:1px solid #bbbbbb;

}

.panel_header {
	background:#6b91da;
	color:#ffffff;
	border:0px;
	padding:0px;
	margin:0px;
	font-weight:bold;
	height:25px;
}


.panel_footer{
	padding:0px;
	height:5px;
	background: #ffffff;
	vertical-align:bottom;
}

.panel_title {
	color:#ffffff;
	height:20px;
	font-size:13px;
}

.panel_title b{
	color:#fffc00;
}

.panel_content {
	padding:0px;
	margin:0px;
	vertical-align:top;
	background:#f5f8fe; 
	background-image:url(../images/panel_content.gif);
	background-repeat:repeat-x;
	background-position:bottom right;  
}


.panel_contentDiv_loading {
	overflow:auto;
	padding:3px;
	padding-right:7px;
	padding-left:11px;
	background-image: url(../images/icons/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;  
 	z-index:10000;
 	
 	
 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
	opacity: .45;
	filter:alpha(opacity=45);
	-moz-opacity: 0.45;
	opacity: 0.45;
 	
}


.panel_contentDiv .name{
	padding-bottom:5px;
}

.backgroundDiv {	
	background:#F6F6F4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
	opacity: .45;
	filter:alpha(opacity=45);
	-moz-opacity: 0.45;
	opacity: 0.45;
	position:absolute;	
}

.panel_container {
	border:1px solid #666;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 11px;
	background-color:#ffffff;
	height:100%;
}

.sound_pages {
      color:#1e467f;
      cursor:pointer;
      text-decoration: underline;
}

.search_info_box {
	padding:5px;
	border: 1px solid #dadad0;
	background: #ffffff;
	margin-bottom:4px;
	color:#444444;
}

.moh_left {
	vertical-align:top; 
	border:1px solid #cccccc;
}

.moh_right {
	border:1px solid #cccccc;
	background-color: #eff5fe;
	vertical-align:top; 
}

.option_disabled {
	color:#6F6F6F;
}


.panel_row{
	background:#fff;
	background-image: url(../images/panel_row_background.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border:1px solid #8dacea;
	cursor:pointer;
}

.panel_row_shaddow, .panel_row_disabled_shaddow, .panel_row_no_operation_shaddow, .panel_row_active_shaddow{
	background:transparent url(../images/shaddow_corner.png) repeat scroll 100% 100%;
	background-repeat:no-repeat;
	background-position:bottom right;
	padding:0px;
	margin:0px;
	padding-right:4px;
	padding-bottom:4px;
	border:0px;	
}

.string_nonunderline a{
	text-decoration:none;
	font-weight:bold;
}

.panel_section_title{
	border-bottom:1px solid #555555;
	color:#555555;
	font-weight:bold;
	margin-bottom:5px;
	padding-bottom:3px;
	padding-top:5px;
}

.panel_row_disabled{
	background:#f5f8ff;
	background-image: url(../images/panel_row_background_disabled.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border:1px solid #ccc;
	cursor:default;
}

.panel_row_disabled .string_underline a, .panel_row_disabled .panel_row_text{
	color:#999;
	cursor:default;
}

.panel_row_over{
	background:#fff ;
	background-image: url(../images/panel_row_background_over.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border-bottom:0px;
	border:1px solid #d6b44b;
	cursor:pointer;
}

.panel_row_entry{
	background:#fff ;
	background-image: url(../images/panel_row_background_over.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border-bottom:0px;
	border:1px solid #d6b44b;
}

.panel_row_active{
	background:#fff ;
	background-image: url(../images/panel_row_background_active.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border-bottom:0px;
	border:1px solid #65a64d;
	cursor:default;
}

.panel_row_over_expand{
	background:#fff ;
	background-image: url(../images/panel_row_background_over.jpg);
	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border:1px solid #d6b44b;
	border-bottom:0px;
	cursor:pointer; 
}


.panel_row_second_expand_container{
	border:1px solid #d6b44b;
	border-top:0px;	
	padding:5px;
	padding-top:2px;
	background:#fff ;
}

.panel_row_second_expand{
	border-top:1px solid #d6b44b;
	padding-top:3px;
}

.panel_row_text{
	padding-top:5px;
	color:#555;
	font-size:11px;
	text-decoration:none;
}

.string_underline  a{
	font-weight: bold;
}

.panel_expand_label{
	padding-left:10px;
	color:#555;
	padding-top:5px;
	width:26%;
}
.panel_expand_input{
	padding-top:5px;
}

.panel_expand_button{
	float:right;
	padding-right:10px;
	padding-bottom:3px

}

.panel_expand_button_container{
	margin-top:7px;
	border-top:1px solid #d6b44b;
}

.panel_expand_button_icon{
	background-image:url(../images/icons/billing/bg_save.gif);
	background-repeat:no-repeat;
	background-position:0px 7px;
	float:left;
	height:16px;
	width:16px;
	padding-right:4px;
	padding-top:7px;
	cursor:pointer;
}

.panel_expand_button_label{
	float:left;
	font-weight:bold;
	text-decoration:underline;
	padding-top:7px;
	cursor:pointer;
	
}

.panel_row_tabs{
	background:#fff;

	background-repeat: repeat-x;
	background-position: top left;  
	padding:5px;
	border:1px solid #776655;
	border-top:0px;
	cursor:pointer;
}

.panel_row_shaddow_tabs{
	background:transparent url(../images/shaddow_corner.png) repeat scroll 100% 100%;
	background-repeat:no-repeat;
	background-position:bottom right;
	padding:0px;
	margin:0px;
	padding-right:4px;
	padding-bottom:4px;
	border:0px;	
}

.panel_tabs{
	padding-right:4px;
}


.panel_tabs #screenTabs{
	margin-bottom: 7px;
	float:left; 
	width: 100%;
	background:transparent url("../images/tabs/bg.gif") repeat-x bottom;
	display:expression(this.getElementsByTagName('UL').length ? "block" : "none");
	margin-top:0px;	
}

.panel_row_tabs{
	height:330px;
	overflow:auto;
}

.panel_tabs{
	padding-right:4px;
}

.panel_tabs #tabs{
	clear:both;
	float:left;
	line-height:normal;
	white-space: nowrap;
	background:transparent url("../images/tabs/bg.gif") repeat-x bottom;
}


.panel_expand_button_vspace{
	height:8px;
}


/* TOP MENU DEFINITONS */

#top_menu .inner_top_menu{
	border:1px solid #cccccc;
	background:#f4f8ff;
	background-image:url(../images/top_menu_background.gif);
	background-repeat:repeat-x;
	background-position:bottom left;	
	padding-top:5px;
	padding-bottom:9px;
}

.top_menu_billing_space{
	padding-top:6px;
}

.top_menu_billing{
	padding-bottom:6px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.top_menu {
	width:90px;
	text-align:left;
	background:transparent url(../images/shaddow_corner.png) repeat scroll 100% 100%;
	background-repeat:no-repeat;
	background-position:bottom right;
	padding:0px;
	margin:0px;
	padding-right:5px;
	padding-bottom:5px;	
	z-index:100; 
	position:absolute; 
	margin-left:-26px;
	margin-top:6px;
	width:139px;
}


/* ------------ help styles ------------*/

#conhelp_inner {
	background:#ffffff;
	height:20px;
	border-bottom:1px solid #cccccc;
	padding:2px;
	padding-bottom:7px;
	padding-top:5px;
}

#hint_text {
	font-size: 11px;
	text-align: left;
	margin: 0px;  
	color:#111111;
}

.copyright {
	text-align:right; 
	width: 400px;
	padding-top:5px;
	color:#8F8F8F;
}

.log_message {
	padding:5px;
	border: 1px solid #dadad0;
	background: #fbfcfe;
	margin:4px;
	font-size:10px;
	color:#444444;
	font-weight: bold
}

#pBar{
	padding-left:5px;
}


.multiple_select {
	float: left;
}

#multiple_select_left {
	margin-right: 20px;
}

#multiple_select_title {
	margin-bottom: 10px;
	text-align: center;
}


/* ------------linkbar styles ------------*/

.linkbar{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align:left;	
	color: #000000;
	border:0px solid #B0B0B0;
	/* padding-left:19px; */
	/* padding-top:6px; */
	padding-left:11px;
	padding-bottom:7px;
}

.linkmenu{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align:left;	
	color: #000000;
	border:0px solid #B0B0B0;
	/* padding-left:19px; */
	padding-top:0px;
	padding-left:11px;
	padding-bottom:7px;
}

/* ------------controller statistics styles ------------*/
.dBoxFooterArea td, .dBoxHeaderArea td{
	padding-top: 0pt;
	padding-right: 5px;
	padding-bottom: 0pt;
	padding-left: 5px;
	background-color: #DED7F9;
	white-space: nowrap;

}

.dBoxHeaderArea .main {
	background: #cad9f5;
	border-right: 0px solid #ffffff;
	border-bottom: 0px solid #ffffff; 
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	/* color: #ffffff; */
	font-weight: bold;
}


.dBoxHeaderLayout {
	background: #cad9f5;
	border-right: 1px solid #cad9f5;
	border-bottom: 1px solid #ffffff; 
	height: 19px;
	cursor: pointer;
}

.show .dBoxHeaderLayout {
	padding-left: 1px;
	padding-top: 1px;
}

.hide .dBoxHeaderLayout {
	padding-left: 0px;
	padding-top: 0px;
}

.dBoxContent {

	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DED7F9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DED7F9;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #ffffff;

}



.dBoxFooterLayout {
	height: 27px;
	overflow-x: hidden;
	overflow-y: hidden;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DED7F9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DED7F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DED7F9;

}


/* ----------  TOP MENU DEFINITONS  ------------- */

.topmenuIcon {
  background-position: right; 
  background-repeat: no-repeat;
  width: 10px;
  
}
.topmenuItem {
	text-align:left;
	padding-top:3px;
	padding-bottom:2px;
}
.topmenuItem a, .topmenuItem a:hover, .topmenuItem a:visited{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	
}
a.topmenuLink {
	color:black;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	white-space:normal;
}


.top_menu_title {
	cursor: pointer;	
	/* width:92px;*/
}

/*------------- CONTROLLER------------------*/

.controllerBody{
	 background:#ffffff;
	 background-image:url(../images/controller_background.gif);
	 background-position:bottom left;
	 background-repeat:repeat-x;
	 height:100%;
}

.controllerContent{
	height:100%;
	padding-right:15px;
}

#logout_top span{
	background-repeat: no-repeat;
	background-color: transparent;
	padding-left: 25px;
	text-decoration: underline;
	cursor: pointer;
	height:20px;
}


#return_top span {

	background-repeat: no-repeat;
	background-color: transparent;
	padding-left: 25px;
	text-decoration: underline;
	cursor: pointer;
	height: 20px;

}

#bid-change span{
	 text-decoration:none;
	 color:#222222;
}	

#bid-change{
	background-image: url(../images/icons/bg_change.gif);
	background-repeat:no-repeat;
	padding-bottom:10px;
	height:23px;
	color:#ffffff;
	text-decoration:none;
}

.change_button .someBtn{
	display:block;
	padding-right:65px;
}

.server_select select{
	width:160px;
}

#bid-change button{
	display:none;
}

.no_records {
	padding:5px;
	border: 1px solid #cccccc;
	background: #fbfcfe;
	margin-top:10px;
}
.text_route {
	width: 30px;
	height:1em;
	border-color: #d2d9df;
}

#tabs #current .required_tab{
	background-image: url(../images/icons/required_bullet_current.gif);
	background-position: center right;
	background-repeat:no-repeat;
	padding-right:15px;
	padding-left:3px;
}

#tabs .required_tab{
	background-image: url(../images/icons/required_bullet.gif);
	background-position: center right;
	background-repeat:no-repeat;
	padding-right:15px;
	padding-left:3px;
}

.single_message_required{
	background-image:url(../images/icons/red_bullet.gif);
	background-position:0 50%;
	background-repeat:no-repeat;
	padding-left:12px;
	padding-right:10px;
	vertical-align:middle;
}

.single_message_required img, .single_message img{
	padding-left:3px;
}



.billing_td a:link, .billing_td a:visited, .billing_td a:active {
	vertical-align: top;
}

/* left floating billing menu */

.rightFloatingMenuShaddow{
	padding-left:4px;
	padding-bottom:5px;
	background:transparent url(../images/shaddow_corner_left.png) left bottom;
}

.rightFloatingMenuShaddowSimple{
	padding-left:4px;
	padding-bottom:5px;
	background:transparent url(../images/shaddow_corner_left.png) left bottom;
}


.rightFloatingMenuContainer{
	background:#6b91da;
	border-right:0px;
	padding:5px;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;

}

.rightFloatingMenuContainerClosed{
	background:#6b91da url(../images/icons/billing/shopping_cart_empty.gif) 5px 44px;
	background-position:10px 10px 10px 10px;
	background-repeat:no-repeat;
	border-right:0px;
	height:86px;
	padding:5px;
	padding-top:5px;
	padding-left:3px;
	padding-right:3px;
}

.rightFloatingMenuContainerClosedSimple{
	background:url(../images/right_floating_menu.png);
	background-position:top right;
	background-repeat:no-repeat;
	border-right:0px;
	height:137px;
	cursor:pointer;
}

.rightFloatingMenuContainerClosedFull{
	background:#6b91da url(../images/icons/billing/shopping_cart_full.gif) 5px 44px;
	background-position:10px 10px 10px 10px;
	background-repeat:no-repeat;
	border-right:0px;
	height:86px;
	padding:5px;
	padding-top:5px;
	padding-left:3px;
	padding-right:3px;
}

.rightFloatingMenuTitle{
	font-weight:bold;
	color:#fff;
	font-size:14px;
	padding-bottom:6px;
	padding-top:1px;
	padding-left:8px;
	border-bottom:1px solid #fff;
}

.rightFloatingMenuButtonFold{
	float:right;
	width:16px;
	height:18px;
	background:transparent url(../images/icons/billing/fold.gif) bottom;
	background-repeat:no-repeat;
	cursor:pointer;

}

.rightFloatingMenuButtonUnfold{
	float:right;
	width:16px;
	height:16px;
	background:transparent url(../images/icons/billing/unfold.gif) top;
	background-repeat:no-repeat;
	cursor:pointer;
}

.rightFloatingMenuTextUnit{
	padding-top:10px;
}

.rightFloatingMenuSubTextUnit{
	font-size:11px;
	color:#0240A3;
	padding-top:3px;
}

.addon_rightFloatingMenuTextUnit{
	padding-top:5px;
	padding-left:15px;
}

.addon_rightFloatingMenuSubTextUnit{
	font-size:11px;
	color:#0240A3;
	padding-top:3px;
	padding-left:15px;
}

.rightFloatingMenuTotalTextArea{
	padding-top:8px;
	margin-top:10px;
	border-top:1px solid #ccc;
}

.rightFloatingMenuTotalText{
	float:left;
	padding-right:10px;
	line-height:16px;
	font-weight:bold;
	padding-left:5px;
}

.rightFloatingMenuTotalSumText{
	float:left;
	line-height:16px;
	font-weight:bold;	
	color:#0240A3;
	padding-bottom:3px;
}

/* order page style */

.order_product_remove_icon{
	background:transparent url(../images/icons/bg_remove_sel.gif) 0px 2px; 
	width:20px;
	background-repeat:no-repeat;
	height:20px;
	padding-right:5px;
}

.order_product_item{
	background-repeat:no-repeat;
	height:20px;
	padding-right:5px;
}

.order_choose_customer_icon{
	background:transparent url(../images/icons/billing/bg_choose_customer.gif) 0px 2px;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	padding-right:5px;
	float:left;
	padding-right:3px;
}

.log_message_order {
	padding:5px;
	border: 1px solid #aaa;
	background: #fff;
	margin:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:10px;
	font-size:11px;
	color:#444444;
	font-weight: bold
}

.htextarea_container{
	width:400px;
}

.htextarea_input{
	margin:0px;
}

.report_block_table{
	width:560px;
	background:#e6e6e6;
	padding:10px;
	padding-left:6px;
	padding-right:7px;
	padding-top:0px;
}

.report_block_unit{
	width:100%;
	padding-top:5px;
}

.report_block_table_title{
	font-weight:bold;
	padding-bottom:2px;
	padding:10px;
	padding-bottom:3px;
	padding-top:3px;
	padding-left:6px;
}

.report_block_table_details{
	color:#222;
	padding:10px;
	padding-bottom:5px;
	padding-top:0px;
	padding-left:0px;	
	background:#fff;
	border:1px solid #fff;
	padding:5px;
}

/* Foldable Box Area */

.foldBoxHeaderLayout .front {
  height: 20px;
  width: 15px;
  background: url('../images/icons/folding_front.png') 0 0 no-repeat;
}

.foldBoxHeaderLayout .middle {
  height: 20px;
  background: url('../images/icons/folding_middle.png') 0 0 repeat;
}

.foldBoxHeaderLayout .end {
  height: 20px;
  width: 26px;
  background: url('../images/icons/folding_end.png') 0 0 no-repeat;
}


.foldBoxHeaderArea .misc span {
  float: right;
  display: inline;
  margin: 2px 5px 0 0;
  width: 25px;
  height: 15px;
  background: url('../images/icons/btn_show-hide-foldBox.gif') 100% 0 no-repeat;
}

.LabelSection span {
  position: relative;
  display: inline;
  float: left;
  margin: 0 -2px 0 0;
  padding: 0 18px 0 4px;
  height: 20px;
  line-height: 19px;
  background: url('../images/icons/foldBox-label.png') 100% 0 no-repeat;
}

.ui-dialog .LabelSection span {
  position: relative;
  display: inline;
  float: left;
  margin: 0 -2px 0 0;
  padding: 0 18px 0 4px;
  height: 20px;
  line-height: 19px;
  background: url('../images/icons/foldBox-label_panel.png') 100% 0 no-repeat;
}




.show.hover.foldBox tr.all:hover,
.show.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .front {
	background: url('../images/icons/folding_front.png') 0 -20px no-repeat;
}

.show.hover.foldBox tr.all:hover,
.show.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .middle {
	background: url('../images/icons/folding_middle.png') 0 -20px no-repeat;
}

.show.hover.foldBox tr.all:hover,
.show.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .end {
	background: url('../images/icons/folding_end.png') 0 -20px no-repeat;
}


.hide.hover.foldBox tr.all:hover,
.hide.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .front {
	background: url('../images/icons/folding_front.png') 0 -60px no-repeat;
}

.hide.hover.foldBox tr.all:hover,
.hide.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .middle {
	background: url('../images/icons/folding_middle.png') 0 -60px no-repeat;
}

.hide.hover.foldBox tr.all:hover,
.hide.hover.foldBox .foldBoxHeaderLayout:hover .foldBoxHeaderLayout .end {
	background: url('../images/icons/folding_end.png') 0 -60px no-repeat;
}


.show.hover.foldBox tr.all:hover .LabelSection {
	background: url('../images/icons/foldBox-label.png') 0 -20px no-repeat;
}

.show.hover.foldBox tr.all:hover .LabelSection span {
  padding: 0 18px 0 4px;
  background: url('../images/icons/foldBox-label.png') 100% -20px no-repeat;
  background-position: 100% -20px;
}


.hide.hover.foldBox tr.all:hover .LabelSection {
	background: url('../images/icons/foldBox-label.png') 0 -60px no-repeat;
}

.hide.hover.foldBox tr.all:hover .LabelSection span {
  padding: 0 18px 0 4px;
  background: url('../images/icons/foldBox-label.png') 100% -60px no-repeat;
  background-position: 100% -60px;
}

/*End of Foldable Box Area */

.token_select {
	background:#ecf1f9;
	border: 1px groove #CCCCCC; 
	padding: 10px; 
	height: 315px;
}

/*---------- hide seach button css ---------------- */

#toggle_bar_td{
	background:#e5e6e7;
}

.controlBtns {
	padding-bottom:8px;
	padding-top:5px;
	text-align:right;
	background:#ffffff;
	border-right:1px solid #e0e0e0;
}

.controlBtns div {
	padding-right: 8px;
	margin-bottom: 0px;
}
.searchBtns {
	padding-bottom:6px;
	padding-left:6px;
	padding-top:7px;
	text-align:left;
	border-left:1px solid #e0e0e0;
	background:#ffffff;
	height:15px;
}

.search_td{
	padding-bottom: 0px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
}

.icon{
	vertical-align:middle;
}


/*Sound player CSS */
.snd_play{
	background: url(../images/icons/play_sound.gif) no-repeat;
}
.snd_pause{
	background: url(../images/icons/pause_sound.gif) no-repeat;
}
.snd_stop{
	background: url(../images/icons/stop_sound.gif) no-repeat;
}

.snd_play_disabled{
	background: url(../images/icons/play_sound_off.gif) no-repeat;
}
.snd_pause_disabled{
	background: url(../images/icons/pause_sound_off.gif) no-repeat;
}
.snd_stop_disabled{
	background: url(../images/icons/stop_sound_off.gif) no-repeat;
}

.ui-widget-content a { 
	color: #6999D3/*{fcContent}*/; 
}

.ui-widget-header { 
	border: 1px solid #6999D3/*{borderColorHeader}*/; 
	background: #6999D3/*{bgColorHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; 
	color: #6999D3/*{fcHeader}*/; 
	font-weight: bold; 
}

.ui-widget-header a { 
	color: #6999D3/*{fcHeader}*/; 
}

.report_name_even{
	background:#e4e9f3;
	padding-left:5px;
	padding-right:5px;
	padding-top:4px;
	padding-bottom:4px;
}

.report_content_even{
	background:#e9eef7;
	padding-left:5px;
	padding-right:5px;	
	padding-top:4px;
	padding-bottom:4px;	
}

.report_name_odd{
	background:#e8edf6;
	padding-left:5px;
	padding-right:5px;	
	padding-top:4px;
	padding-bottom:4px;	
}

.report_content_odd{
	background:#ecf0f7;
	padding-left:5px;
	padding-right:5px;	
	padding-top:4px;
	padding-bottom:4px;	
}

.panel_top_left{
	height:9px;
	width:9px;
	background: url(../images/layer_top_left.png) no-repeat;
}
 
.panel_top_middle{ 
	height:9px;
	background: url(../images/layer_vertical.png) repeat-x;
}

.rightFloatingMenuFieldNameOdd {
	background-color: #e2e9f8; 
	width:55%;
} 

.panel_top_right{
	height:9px; 
	width:9px;
	background: url(../images/layer_top_right.png) no-repeat;
}	

.rightFloatingMenuFieldNameEven { 
	width:55%;
	background-color: #d8e2f5;
} 

.panel_middle_left{
	width:9px;
	background: url(../images/layer_horizontal.png) repeat-y;
}
.rightFloatingMenuFieldValueOdd { 
	padding-top:2px;
	background-color: #eef2f9;
} 

.panel_middle_right{
	width:9px;
	background: url(../images/layer_horizontal.png) repeat-y;
}

.panel_bottom_left{
	height:9px;
	width:9px;
	background: url(../images/layer_bottom_left.png) no-repeat;
}

.panel_bottom_middle{
	height:9px;
	background: url(../images/layer_vertical.png) repeat-x;
}

.panel_bottom_right{
	height:9px;
	width:9px;
	background: url(../images/layer_bottom_right.png) no-repeat;
}

.rightFloatingMenuFieldValueEven { 
	padding-top:2px;
	background-color: #e7edf7;
}

.rightFloatingMenu_topleft{
	background-image:url(../images/menu_shaddow_top_left.png);
	background-position:top left;
	background-repeat:no-repeat;	
	width:5px;	
}

.rightFloatingMenu_bottomleft{
	background-image:url(../images/menu_shaddow_bottom_left.png);
	background-position:top left;
	background-repeat:no-repeat;	
	width:5px;
}

.rightFloatingMenu_bottomright{
	background-image:url(../images/menu_shaddow_bottom_right.png);
	background-position:top right;
	background-repeat:no-repeat;
	height:5px;	
}
.dialog_top_left{
	height:9px;
	width:9px;
	background: url(../images/layer_top_left.png) no-repeat;
	position: absolute; 
	left: 0px;
	top:0px;
	bottom:0px;
}

.dialog_top_middle{
	height:9px;
	background: url(../images/layer_vertical.png) repeat-x;
	position:absolute;
	left:9px;
	right:9px;
	top:0px;
	bottom:0px;
	border-bottom: 1px solid #666666;
}

.dialog_top_right{
	height:9px;
	width:9px;
	background: url(../images/layer_top_right.png) no-repeat;
	position: absolute; 
	right: 0px;
	top:0px;
	bottom:0px;
}

.dialog_middle_left{
	width:9px;
	background: url(../images/layer_horizontal.png) repeat-y;
	position:absolute;
	left:0px;
	width:9px;
	top:9px;
	bottom:9px;
	border-right: 1px solid #666666;
}

.dialog_middle_right{
	width:9px;
	background: url(../images/layer_horizontal.png) repeat-y;
	position:absolute;
	right:0px;
	width:9px;
	top:9px;
	bottom:9px;
	border-left: 1px solid #666666;
}

.dialog_bottom_left{
	height:9px;
	width:9px;
	background: url(../images/layer_bottom_left.png) no-repeat;
	position: absolute; 
	left: 0px;
	width:9px;
	bottom:0px;
}

.dialog_bottom_middle{
	height:9px;
	background: url(../images/layer_vertical.png) repeat-x;
	position:absolute;
	left:9px;
	right:9px;
	bottom:0px;
	border-top: 1px solid #666666;
}

.dialog_bottom_right{
	height:9px;
	width:9px;
	background: url(../images/layer_bottom_right.png) no-repeat;
	position: absolute; 
	right: 0px;
	width:9px;
	bottom:0px;
}

.begin_section{
	background: url(../images/icons/arrow_head.gif);
	background-position: 0px 2px;
	background-repeat: no-repeat;
	min-height:15px;
}


