.note.note-success {
    background-color: #c0edf1;
    border-color: #58d0da;
    color: #000;
    margin-right: -10px;
}
 
.note.note-danger {
    /*padding: 10px;*/
    border-color: red !important;    
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: #fbe1e3;
    color: #000;
}

.page-header.navbar .top-menu .navbar-nav {
    margin-top: -5px;
}
.page-logo{
    position:relative;
    z-index:9999;
}
.marquee-title marquee {
    width: 300px;
    padding: 3px 2px;
    font-size: 12px;
    color: #cc1c19;
    border: 1px solid #227eab;
    line-height: 19px;
    background: #fff;
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    height: 25px !important;
}
.btn_task {
    border: 1px solid #1e5015;
    padding: 3px 10px;
    font-size: 12px;
    cursor: pointer;
    background: #238dc1;
    float: left;
    border-radius: 4px !important;
 
}
.btn_load {
    background: #C2C2C2;
    border: 1px solid #000000;
    padding: 3px 10px;
    float: left;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px !important;
    margin-left: 5px;
    color: #0000;    
}
#date_time {
    color: #0b5fe6;
    font-size: 12px;
    float: left;
    padding: 5px 10px;
}
.page-container-bg-solid .page-bar, .page-content-white .page-bar {
    background-color: #fff;
    position: relative;
    padding: 0 5px;
    margin: -65px 0px 0px -25px;
    height: 35px;
}
.scroll-to-top>i {
    display: inline-block;
    color: red;
    font-size: 30px;
    opacity: 1;
    filter: alpha(opacity=60);
}
.mt-element-ribbon .ribbon {
    position: absolute;
    top: -35px;
    left: -2px;
    padding: .5em 1em;
    z-index: 5;
    background-color: #36c6d3 !important;
    color: #fff !important;
    border-radius: 0px !important;
}
.mt-element-ribbon {
    /*padding-bottom: -10px;*/
    /*position: relative;*/
    /*margin-bottom: -42px;*/
    height:20px !important;
}
.mt-element-ribbon .ribbon.ribbon-clip.ribbon-right {
    left: auto;
    right: -0px;
}
@media (max-width: 1230px) {
    .pull-left {
        left:0px;
        width: 660px;
        top: 5px;
        right: 0;
    }
}
@media (max-width: 600px) {
    .pull-left   {
         display:none;
    }
    .page-bar {
         display:none;
    }
}
.portlet.light.portlet-fit>.portlet-title {
    padding: 5px 20px 10px;
}
.form-horizontal .form-group.form-md-line-input {
    padding-top: 0px;
    margin: 0 -15px 10px;
}
.form-horizontal .form-group.form-md-line-input>label {
    padding-top: 13px;
    font-size: 14px;
    color: #000001;
}
.form .form-body, .portlet-form .form-body {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 25px;
}
.pad-top {
    padding-top: 30px !important;
}
.alert-danger {
    margin-right: -10px;
}
.alert-success {
    margin-right: -10px;
}
.marquee-title marquee {
    width: 250px;
    color: orangered;
}

.table-advance td.highlight div.success {
    border-left: 2px solid #36c6d3;
}
.table-advance div.danger, .table-advance div.important, .table-advance div.info, .table-advance div.success, .table-advance div.warning {
    position: absolute;
    margin-top: -5px;
    float: left;
    width: 2px;
     height: 25px; 
    margin-right: 20px!important;
}
 
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /*padding: 4px;*/
}
.right_10px {
    margin-right: -6px;
}
.table-scrollable {
    width: 100%;
    /* overflow-x: auto; */
    /*overflow-y: hidden;*/
    border: 1px solid #e7ecf1;
    margin: 10px 0!important;
}

.thewindowbackground_edit {
    display:none; width:100%; height:2500px;
    background-color:#000000; position:absolute; left:0px; 
    top: -100px; bottom: -100px;opacity: .6; filter: alpha(opacity=70); z-index:99999;
}
@media (max-width: 600px) {
    .thewindowbackground_edit {
        height:2500px;
    }
}
.popup_layer_edit {
    background-color:#fff; display:none; position: absolute;left: 0px;
    top: 0px;width: 800px; height:400px;  margin-left: 240px;margin-top: 100px; z-index:9999999;
    border-radius:6px;
}

@media (max-width: 800px) {
    .thewindowbackground_edit {
        height:1700px;
    }
    .popup_layer_edit {
        top: 150px;width: 400px; height:400px;  
        margin-left: 0px;margin-top: 100px; z-index:9999999;
    }
}
 
.content-vdl {
    margin-left: 0px;
    margin-top: 0px !important;
}

myinput[type=button]  {
    color:#fdfdfd !important;
    border: 2px solid #1e5015;
    padding: 0px 0px;
    font-size: 12px;
    cursor: pointer;
    background: #F6F6F4;
    float: left;
    border-radius: 4px !important;
    
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;

    
    align-items: flex-start;
    text-align: center;
    cursor: default;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    
    font-size: 11px;
    -webkit-tap-highlight-color: transparent;
}

.modal-content {
    position: relative;
    background-color: #FAFAFA !important;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px !important;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
    
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.myclose {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .6;
}

@media (min-width: 800px) {
    .pull-left {
        left: 0px;
        width: 760px;
        top: 5px;
        right: 0;
    }
}
.left_5px {
    margin-left: 5px;
}
.table-advance {
    margin-top: 10px;
}



.modal-dialog {
    width: 475px;
    margin: 30px auto;
}
.formArea input{
width:300px!important
}
.formTable tr{
float:left;
width:100%;
}
.formTable tr span {
    display: -webkit-box;
    width: 141px;
    margin-bottom: 10px;
}
 @media (max-width: 475px){
 .modal-dialog {
    width: 98%;
    margin: 30px auto;
}
.formArea input{
width:180px!important
}
.formTable tr span {
    display: -webkit-box;
    width: 100px;
	font-size:12px;
}
}

.page-content-wrapper {
    margin-top: -20px;
}
.mt-element-ribbon {
    padding-top: 57px; 
    position: relative;
    margin-bottom: 0px;
}
.mt-element-ribbon .ribbon.ribbon-clip.ribbon-right {
    margin-top: 32px;
}