
.form-register .portlet.box>.portlet-title{
    color:#3598dc;
    font-weight: bold;
}
.form-register .portlet-title{
	text-align: center;
}
.form-register .portlet-title .font-big{
	font-size: 20px
}
.form-register .portlet-body .first-name{
	width: 48%;
	float: left
}
.form-register .portlet-body .last-name{
	width: 48%;
	float: right
}
.form-register button {
    width: 100%;
    padding-top:7px;
    padding-bottom:7px;
}

.has-success .form-control {
    border-color: #c2cad8;
}
.has-success .input-icon>i{
	color:#6FB272
}
.has-error .form-control {
    border-color: #ff5722;
}
.has-error .input-icon>i{
	color: #ff5722;
}
.has-error .message-error {
	float: right;
    background: #ff5722;
    padding: 2px 4px;
   	font-size: 9px;
   	color: #FFF;
}
/*tash 2*/
.alert-popup{
	background: #6FB272;
	color: #FFF;
	border-radius:2px !important;
	padding: 10px;
    padding-right: 80px;
}
/*end tash 2*/

/*note*/
.note {
    margin: 0 0 20px;
    padding: 7px ;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
}
.note h5{
    padding-bottom: 0px ;
}
/*.note.note-success {
    background-color: #FFF;
    border: 1px solid #58d0da;
}*/
.note.note-success {
    background-color: #FFF;
    border: 1px solid #238dc1;
    border-left: 5px solid #238dc1;
 }
/*end note*/
/*menu*/
.navbar-nav li.active{
	font-weight: bold;
    border-bottom: 2px solid #3598dc;
}
/*end menu*/
/* 2 button fix*/
.fixedbutton {
    position: fixed;
    bottom: 0;
    right: 35%; 
}
.fixedbutton button{
	color: black
}
.color-button{
background:#238dc1;
color:#fff !important;
border:1px solid #238dc1;
}
.color-button.active, .color-button:active, .color-button:hover, .open>.color-button.dropdown-toggle {
    color: #fff !important;
    background-color: #0f6391 !important;
    border-color: #0f6391 !important;
}
.color-button.focus, .color-button:focus{
    background-color: #0f6391 !important;
    border-color: #0f6391 !important;
}
.color-button font, .color-button i{
color:#fff ;
}
/*end 2 button*/
/*tash 11*/
.page-toolbar {
    display: inline-block;
    float: right;
}
.close{
    margin-top: 10px;
}
/*end tash 11*/

/*custom modal*/
.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

/* Alternative Angles */
.modal.fade:not(.in).top-left .modal-dialog {
    -webkit-transform: translate3d(-25%, -25%, 0);
    transform: translate3d(-25%, -25%, 0);
}
.modal.fade:not(.in).top-right .modal-dialog {
    -webkit-transform: translate3d(25%, -25%, 0);
    transform: translate3d(25%, -25%, 0);
}
.modal.fade:not(.in).bottom-left .modal-dialog {
    -webkit-transform: translate3d(-25%, 25%, 0);
    transform: translate3d(-25%, 25%, 0);
}
.modal.fade:not(.in).bottom-right .modal-dialog {
    -webkit-transform: translate3d(25%, 25%, 0);
    transform: translate3d(25%, 25%, 0);
}
/*end custom modal*/
/*end conent vdl*/
.content-vdl{
float:left;
width:100%;
margin-top:15px;
}
.form-actions button{
float:left;
width:auto;
margin-right:10px;
}
.nav>li>a:focus, .nav>li>a:hover{
background:none
}
.table-hover tr td{
position:relative;
}
.table-hover tr td:hover .right-hover{
display:block
}
.table-hover thead{
background:#238dc1;
}
.table-hover thead th{
color:#fff;
}
.right-hover{
position: absolute;
    top: 28px;
    left: 8px;
	display:none;
    z-index: 9;
}
.right-hover a{
width:100%;
padding:5px 0;
font-size:12px;
text-indent:5px;
text-decoration:none;
float:left;
}
.right-hover a:hover{
background:#eef1f5
}
.menu-top{
border-bottom:1px solid #e9ecf3
}
/*end conent vdl*/

/*-- page list--*/
.page-list button{
padding: 2px 7px;
margin:0 3px !important;
}
/*-- end page list--*/
/*-- bung--*/
.bung-bg{
float:left;
}
/*-- end bung-bg--*/

/*-- login--*/
.wallpaper-login{
width:320px;
margin:100px auto;
}
.background-fff{
width:100%;
background:#fff;
padding:10px 20px 20px 20px;
float:left
}
.form-login{
width:100%;
float:left;
}
.singup-box{
width:100%;
float:left;
margin:10px 0 0 0;
}
.form-login .checkbox{
padding-left:20px;
}
.form-login .form-actions button{
width:100%;
}
.form-login form{
width:100%;
float:left;
}
.logo{
text-align:center;
width:100%;
float:left;
}
.logo img{
text-align:center;
width:90px;
margin-bottom:20px;
}
/*-- end login--*/