/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre .str {
	color: #65B042;
}
/* string  - green */
pre .kwd {
	color: #E28964;
}
/* keyword - dark pink */
pre .com {
	color: #AEAEAE;
	font-style: italic;
}
/* comment - gray */
pre .typ {
	color: #89bdff;
}
/* type - light blue */
pre .lit {
	color: #3387CC;
}
/* literal - blue */
pre .pun {
	color: #fff;
}
/* punctuation - white */
pre .pln {
	color: #fff;
}
/* plaintext - white */
pre .tag {
	color: #89bdff;
}
/* html/xml tag    - light blue */
pre .atn {
	color: #bdb76b;
}
/* html/xml attribute name  - khaki */
pre .atv {
	color: #65B042;
}
/* html/xml attribute value - green */
pre .dec {
	color: #3387CC;
}
/* decimal - blue */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #AEAEAE;
}
/* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
	list-style-type: none;
}
/* Alternate shading for lines */
@media print {
	pre .str {
		color: #060;
	}
	pre .kwd {
		color: #006;
		font-weight: bold;
	}
	pre .com {
		color: #600;
		font-style: italic;
	}
	pre .typ {
		color: #404;
		font-weight: bold;
	}
	pre .lit {
		color: #044;
	}
	pre .pun {
		color: #440;
	}
	pre .pln {
		color: #000;
	}
	pre .tag {
		color: #006;
		font-weight: bold;
	}
	pre .atn {
		color: #404;
	}
	pre .atv {
		color: #060;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: inherit;
	text-rendering: optimizeLegibility;
}

body {
	color: #282b36;
	min-width: 768px;
}

.redBorder,.greenBorder,.yellowBorder {
	border-top: 8px solid #282b36;
	width: 33.33%;
	float: left;
	height: 16px;
	position: relative;
	z-index: 50;
}

.redBorder {
	background-color: #f33e6f;
}

.greenBorder {
	background-color: #46bfbd;
}

.yellowBorder {
	background-color: #fdb45c;
}

h1 {
	font-family: "proxima-nova";
	font-weight: 600;
	font-size: 32px;
}

h2 {
	font-family: "proxima-nova";
	font-weight: 600;
	font-size: 22px;
	line-height: 40px;
}

#mainHeader {
	font-size: 55px;
}

#introText {
	font-weight: 400;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	margin-bottom: 40px;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	min-width: 768px;
}

#wrapper nav {
	width: 20%;
	padding-right: 20px;
	position: fixed;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	z-index: 0;
	padding: 40px 20px;
	font-family: "proxima-nova";
	background-color: #ebebeb;
}

#wrapper nav dl {
	color: #767c8d;
}

#wrapper nav dl dt {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 5px;
}

#wrapper nav dl dt a {
	display: block;
	padding: 2px 0;
	border-bottom: 1px solid rgba(118, 124, 141, 0.2);
	text-decoration: none;
}

#wrapper nav dl dd {
	margin-bottom: 5px;
	padding-left: 5px;
}

#wrapper nav dl dd:before {
	content: "- ";
}

#wrapper nav dl dd a {
	text-decoration: none;
	font-size: 12px;
	border-bottom: 1px solid transparent;
}

#wrapper nav dl a {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#wrapper nav dl a:hover {
	color: #2d91ea;
	border-bottom-color: #2d91ea;
}

#wrapper #contentWrapper {
	width: 80%;
	max-width: 1080px;
	margin-left: 20%;
	padding: 0px 40px;
	padding-top: 72px;
}

article {
	border-top: 1px solid #ebebeb;
	padding: 40px 0;
}

article h2 {
	margin-top: 20px;
}

p,ul li {
	font-family: "proxima-nova";
	line-height: 20px;
	font-size: 16px;
	margin-top: 10px;
	color: #767c8d;
}

p a,ul li a {
	text-decoration: none;
	border-bottom: 1px solid #2d91ea;
	color: #2d91ea;
}

canvas {
	margin-top: 20px;
}

pre {
	background-color: #292b36;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	margin: 40px 0 20px 0;
}

pre code {
	display: block;
}

pre:before {
	content: attr(data-type);
	position: absolute;
	font-size: 12px;
	top: -30px;
	left: 0;
	font-family: "proxima-nova";
	font-weight: 400;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	background-color: #ebebeb;
}