/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 0.12.0
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	font: 14px/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #111;
}

div.fw_container {
	width: 980px;
	padding-top: 2em;
	margin: 0 auto;
}

div.fw_header {
	position: relative;
}

div.fw_content {
	padding-top: 2em;
}

div.fw_footer {
	padding-top: 4em;
	font-size: 75%;
	text-align: center;
}

.type-attr .type-signature {
	background-color: #ccc;
	color: white;
	border-radius: 3px;
	display: inline-block;
	padding: 0 3px;
	font-size: 0.9em;
}

.type-attr {
	float: right;
	color: #999;
}

.type-name {
	font-weight: bold;
}

.type-sig {
	color: #999;
}

.type-param {
	color: #D32929;
}

.type-return {
	color: #FF8080;
}

.type-brace {
	color: #111;
}

.example-code {
	margin-left: 30px;
}

.example-code td.code {
	border-top: 1px solid #4E6CA3 !important;
}

.type-augmented {
	position: absolute;
	left: 8px;
	top: 0;
}

dt,dd {
	padding: 0.4em 10px;
}

dt {
	padding-bottom: 0 !important;
}

dd {
	position: relative;
	padding-top: 0 !important;
	padding-left: 3em;
}

dt.even,dd.even {
	background-color: white;
}

dt.odd,dd.odd {
	background-color: #F2F2F2;
}

div.doc_overview dd,div.doc_overview dt {
	padding-left: 0 !important;
}

.right_border div {
	width: 20px;
	padding: 2px 0.5em 2px 1em;
	text-align: right;
}

.right_border {
	border-right: 3px solid #4E6CA3;
}

.bottom_border {
	border-bottom: 1px solid #4E6CA3;
}

a {
	text-decoration: none;
	color: #4E6CA3;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	*cursor: hand;
}

div.fw_content ul {
	list-style-image: url('../images/arrow.png');
	padding: 0 0 0 2em;
}

/*
h2 {
	font-size: 1.4em;
	margin-top: 2em;
	border-bottom: 3px solid #829ac6;
	padding-left: 5px;
}

h3 {
	font-size: 1.2em;
	margin-top: 1em;
	border-bottom: 1px solid #A4B5D5;
	padding-left: 5px;
}
*/
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
	padding-top: 5px;
}

h2.ancestors {
	font-size: 14px;
	margin: 0;
}

h3 {
	font-size: 1.3em;
	padding-top: 5px;
	margin-bottom: 5px;
}

h5 {
	padding-top: 6px;
	font-weight: bold;
	font-size: 0.9em;
	border-bottom: 1px solid #cad4e6;
	margin-bottom: 1em;
}

div.doc_summary,div.doc_details {
	margin-top: 2em;
	clear: both;
}

div.doc_group {
	margin-top: 1em;
	border-top: 1px solid #A4B5D5;
	border-left: 1px solid #A4B5D5;
	padding-left: 10px;
}

div.extended {
	margin-left: 30px;
}

table.params {
	margin-left: 30px;
	width: 97%;
}

table.params th,table.params td {
	padding: 3px;
}

tr.odd {
	background-color: white;
}

tr.even {
	background-color: #F8F8F8;
}

th.name,td.name {
	padding-left: 13px;
}

td.number {
	background-color: white;
	color: #5C5C5C;
}

dd.odd td.number {
	background-color: #F2F2F2;
}

p {
	margin: 1em 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

p.returns {
	margin-left: 5%;
}

div.page-info {
	position: absolute;
	top: 0;
	right: 0;
}

.private {
	display: none;
}

code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px !important;
	white-space: pre;
	font-size: 0.9em;
	color: #D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px 10px;
}

pre>code {
	background-color: transparent;
	border: none;
	color: #111;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ol {
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 30px;
}

div.fw_nav {
	position: fixed;
	top: 25px;
	right: 30px;
	width: 250px;
	border: 1px solid #A4B5D5;
	background-color: white;
	padding: 10px;
	z-index: 1001;
	font-size: 12px;
	overflow: hidden;
}

div.fw_nav h2 {
	margin: -10px 0 10px -10px;
	width: 250px;
	padding: 5px 10px;
	background-color: #A4B5D5;
	font-size: 12px;
	cursor: pointer;
	*cursor: hand;
}

div.fw_nav ul>li>div {
	padding: 0 0 0 1em;
}

div.nav_blocker {
	float: right;
}

div.fw_nav td {
	color: #999;
}

div.fw_nav li {
	margin-bottom: 5px;
}

div.fw_nav li>a {
	font-weight: bold;
}

.css_clear {
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.css_right {
	text-align: right;
}

.css_center {
	text-align: center;
}

.css_spacing {
	margin-top: 1.5em;
}

.css_small {
	font-size: 75%;
	line-height: 1.45em;
}

.css_vsmall {
	font-size: 65%;
	line-height: 1.45em;
}