.daily_box { width:500px; }

.daily_popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
}

.daily_collapse { position:relative; right: 235px; }

.daily_open {
}

.daily_box {
    display:block;
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    position:absolute;
    padding: 10px;
    top: 20px !important;
}

.daily_box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}

.daily_arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    top:-10px;
    z-index:1001;
    position: absolute;
    left: 340px !important;
  }

.daily_arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:-11px;
    z-index:1000;
    left: 340px !important;    
}

/*/////////////////////////////////////////*/
.nhap_box { width:500px; }

.nhap_popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
}

.nhap_collapse { position:relative; right: 235px; }

.nhap_open {
}

.nhap_box {
    display:block;
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    position:absolute;
    padding: 10px;
    top: 20px !important;
}

.nhap_box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}

.nhap_arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    top:-10px;
    z-index:1001;
    position: absolute;
    left: 340px !important;
  }

.nhap_arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:-11px;
    z-index:1000;
    left: 340px !important;    
}

/*/////////////////////////////////////////*/
.xuat_box { width:380px; }

.xuat_popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
}

.xuat_collapse { position:relative; right: 235px; }

.xuat_open {
}

.xuat_box {
    display:block;
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    position:absolute;
    padding: 10px;
    top: 20px !important;    
}

.xuat_box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}

.xuat_arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    top:-10px;
    z-index:1001;
    position: absolute;
    left: 300px !important;
  }

.xuat_arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:-11px;
    z-index:1000;
    left: 300px !important;
}
