.bselcollapse { position:relative; left: 120px; top: 3px;  z-index:1000;}

.bselopen {
    cursor:pointer;
}

.bselbox {
    top:28px !important;
    width:500px;  
    display:block;
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    position:absolute;
    padding: 10px;
}

.bselbox a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}
.bselarrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #FFF;
  top:-10px;
  z-index:1001;
  position: absolute;
  left: 40px !important;
}

.bselarrow-border {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #131212;
  position:absolute;
  top:-11px;
  z-index:1000;
  left: 40px !important;    
}

/********* */

.blaxpopbox {
  margin:0px auto;
  text-align:center;
  position:relative;
}

.blaxcollapse { position:relative; left: 60px; top: 3px;  z-index:1000;}

.blaxopen {
    cursor:pointer;
}

 .blaxbox {
  top:28px !important;
  width:500px;  
  display:block;
  display:none;
  background:#FFF;
  border:solid 1px #000000;
  border-radius:5px;
  box-shadow:0px 0px 15px #999;
  position:absolute;
  padding: 10px;
}

.blaxbox a.close {
  color:red;
  font-size:12px;
  font-family:arial;
  text-decoration:underline;
}

.blaxarrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #FFF;
  top:-10px;
  z-index:1001;
  position: absolute;
  left: 90px !important;
}

.blaxarrow-border {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #131212;
  position:absolute;
  top:-11px;
  z-index:1000;
  left: 90px !important;    
}




 
