.vp_collapse {  margin-top: -12px;  margin-left: -50px; z-index:9000;}
.vp_open{ cursor: pointer;} 
.vp_box {
    width:350px;  
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    margin-top:21px;
}

.vp_box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}
.vp_arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    top:25px;
    z-index:1001;
    position: absolute;
    left: 0px !important;
}

.vp_arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:24px;
    z-index:1000;
    left: 0px !important;    
}

/************/


.cn_collapse {  margin-top: -12px;  margin-left: -50px; z-index:9000;}
.cn_open{ cursor: pointer;} 
.cn_box {
    width:350px;  
    display:none;
    background:#FFF;
    border:solid 1px #000000;
    border-radius:5px;
    box-shadow:0px 0px 15px #999;
    margin-top:21px;
}

.cn_box a.close {
    color:red;
    font-size:12px;
    font-family:arial;
    text-decoration:underline;
}
.cn_arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    top:25px;
    z-index:1001;
    position: absolute;
    left: 0px !important;
}

.cn_arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:24px;
    z-index:1000;
    left: 0px !important;    
}