.popbox {
  margin:0px auto;
  text-align:center;
  position:relative;
}

.collapse { position:relative; left: 118px; }

.open {
  /*background:#DDD;*/
  /*border:solid 1px #FFF;*/
  /*border-radius:5px;*/
  /*box-shadow: 0px 0px 5px #CCC;*/
  /*background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e8e8e8));*/
  /*background:-moz-linear-gradient(top,#f4f4f4,#e8e8e8);*/
  /*background:linear-gradient(top,#f4f4f4,#e8e8e8);*/
  /*padding:8px;*/
}

.box {
  display:block;
  display:none;
  background:#FFF;
  border:solid 1px #000000;
  border-radius:5px;
  box-shadow:0px 0px 15px #999;
  position:absolute;
  padding: 10px;
}

  .box a.close {
   color:red;
   font-size:12px;
   font-family:arial;
   text-decoration:underline;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #FFF;
    /*position:absolute;*/
    /*left:1px;*/
    top:-10px;
    z-index:1001;
    position: absolute;
    left: 20px !important;
  }

  .arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #131212;
    position:absolute;
    top:-11px;
    z-index:1000;
    left: 20px !important;    
  }
